[2017-03-05 08:24] aminiok1 opened #1 "Problem in Reading USB Descriptor in Xilinx ZYNQ ZC706"
We are working on a project with Xilinx ZYNQ ZC706 board, which requires baremetal working with USB in the host mode (actually with FreeRTOS).

Unfortunately, the Xilinx baremetal USB drivers does not support the host mode. Moreover, this driver implements only up to the EHCI layer, however, we need the USB stack to communicate with HID devices.

Thus, we decided to port the TinyUSB project to ZYN

[2017-03-06 19:07] hathach commented on #1
Hi @aminiok1 , thank you very much for using and raising the issue. Unfortunately, I don't have any board of Xilinz 7000 series, there is no way to troubleshoot these usb issue on my own. In addition, I am on a tight schedule for other projects ~.~ which could take a few months or so. In the meanwhile, I am afraid you are on your own :(

[2017-03-10 10:20] 31kothari opened #2 "USB3.0 (xHCI) driver support"
Hi,

May I know by what time, xHCI driver will be available in tinyUSB?

Thanks for your code and looking for xHCI driver support for Bare Metal.

Thanks!

[2018-02-07 08:57] hathach opened #3 "Clean up and refresh repo"

[2018-02-07 09:32] hathach opened #4 "migrate IDE from lpcxpresso to segger studio and makefile"

[2018-03-31 12:22] #4 closed

[2018-03-31 12:22] #2 closed

[2018-03-31 12:24] #3 closed

[2018-04-14 13:17] slsvasu348 opened #5 "Need information about porting"
Hi Hathach,

We are trying to port TinyUSB stack with FreeRTOS on NIOS platform. We do have HAL driver of USB ready to be integrated with TInyUSB stack. We need information about which API are required to map with our HAL drivers. Do you have any porting guide?

Thanks,
Vasu.

[2018-04-16 03:35] hathach commented on #5
Hi,

Since tinyusb is currently undergone reworking, there is lots of changes ( and still more to come ). If you are working on device stack, you are in luck, since it is 90% done. Please switch to develop branch to work on.

Porting new MCU requires implementing API in these 2 files

https://github.com/hathach/tinyusb/blob/develop/tinyusb/tusb_hal.h
https://github.com/hathach/tinyusb/blob/develop

[2018-04-20 09:04] hathach opened #6 "migrate document from doxygen to reStructuredText"
Info https://docs.readthedocs.io/en/latest/getting_started.html

[2018-04-20 14:33] tannewt commented on #6
I do a good amount of rST with ReadTheDocs so feel free to ask any questions.

[2018-04-20 14:43] hathach commented on #6
@tannewt  thanks Scott, this is more like a reminder for myself. There is already too much code to write ~.~

[2018-05-25 11:18] buggins commented on #5
It looks like on current develop branch only device mode portability is implemented.
What is estimated time to finish with host mode refactoring?

[2018-05-25 14:07] hathach commented on #5
Indeed, I am working on next major changes, first with the device stack then host stack. Though since I am working on the stack on my free time basic. It is hard to provide an ETA. But I hope to do it as soon as I could. So, no ETA.

[2018-05-25 14:41] buggins commented on #5
Thanks!
So far I'll try to patch ehci.c
For Zynq, it will be necessary to use cache related magic while working with queues/lists (cache flush after change by CPU or cache region invalidating when data is updated by controller)...

[2018-05-26 13:03] hathach commented on #5
It sounds a bit complicated, the stack is targeted the MCU, it may not support caching feature you mentioned.

[2018-06-20 06:17] hathach commented on #5
@buggins  yeah, what is on develop branch will ended up merged to master later, the OSAL may have more changes as well. There is still lots of works in the progress unfortunately.

[2018-09-19 07:40] mad1993 commented on #5
@hathach Do you have any documentation available for the APIs required to port tinyUSB? I wanted to have information about what exact functionality control APIs and pipe APIs are implementing (in dcd.h file)?
Any comments would be of great help !

[2018-09-19 07:42] hathach commented on #5
If you looking to port the device stack, please check out the develop branch. There is a huge update with improved API there. Here is a example that works with nrf52840. I will merge it eventually

https://github.com/hathach/tinyusb/tree/develop/src/portable/nordic/nrf5x

[2018-09-19 10:32] mad1993 commented on #5
@hathach Thank you for the response. As of now I am trying to port device stack, however I am also looking forward to port host & OTG stack as well. Is there any porting guide available which can help.?
I went through the developed branch but still facing the same issue of API understanding reagrding its expected functionality to be implemented at place.

[2018-09-19 10:58] hathach commented on #5
@mad1993 unfortunately, I haven't got enough time to write a how-to doc for porting. That is terrible, I know. but but.. sighed ~.~ I will try my best here.
- hal should be easy, `uint32_t tusb_hal_millis(void)` is required if your application doesn't has an rtos. (Note Yeah It is not a good name, it should be name osal something, I may change it later on.)
- basically all the function in dcd.h ne

[2018-11-14 00:32] mithro opened #9 "Is gcc or clang a supported toolchain?"
The README lists the following supported toolchains;
- lpcxpresso
- Keil MDK
- IAR Workbench

I'm guessing that GCC probably already works but isn't included in the list? What about clang?

[2018-11-14 05:18] hathach commented on #9
ah, yeah, I am having major changes on develop branch. I am too tired to keep up with these IDE changes and configure. Eventually, there will be makefile (gcc, not sure about clang) and segger embedded studio for debugging. SES is crossplatform and free for non-commercial without code limit, and support lots of mcu. GUI is decent but debugging is very good. There is still lots of works though :(

[2018-12-12 09:49] #5 closed

[2018-12-12 10:04] hathach commented on #9
thanks @tannewt  for the anwser

[2018-12-12 10:04] #9 closed

[2018-12-12 10:15] hathach opened #22 "rework host stack"
this include all host layers: HCD, USBH, and class driver

[2018-12-12 10:24] hathach opened #23 "mynewt port for nrf5x"

[2018-12-12 10:25] hathach opened #24 "fix unit test"
unit test is obsolete, fix and include it in travis build

[2018-12-13 09:07] hathach opened #26 "stm32 port"

[2018-12-13 18:12] tannewt commented on #26
@xobs was going to look into this I think. Specifically the STM32F4.

I started it here but its based on older TinyUSB at this point: https://github.com/tannewt/tinyusb/tree/stm32f4

[2018-12-26 15:10] hathach opened #28 "Support CMSIS-RTOS"

[2018-12-26 15:14] hathach opened #29 "DFU class"
should be used with dfu-util

[2019-01-11 07:04] mad1993 commented on #5
@hathach are you plaaning to add OTG support in the near future.? As it was mentioned earlier but it is moved to obselete branch. On master branch description only says about Host/Client functionality.

[2019-01-11 07:19] hathach commented on #5
@mad1993 yeah, it is still on the plan, since I want tinyusb is a full-fledged stack.  Though, I am a bit busy now. I removed them since it is not yet implemented and would afraid to make people misunderstand the current features. I will

[2019-01-23 00:15] dhalbert opened #32 "Compiler warning in dcd_samd21.c"
When building circuitpython with arm-none-eabi-gcc 7.3.1 doing:
[code]
I get this fatal warning in tinyusb:
[code]
If `DEBUG=1` is not set, it works fine.

[2019-01-23 00:21] dhalbert opened #33 "gcc version 8 compiler warning in msc_device.c"
When building circuitpython **with arm-none-eabi-gcc 8.2.1** (arm toolchain 8-2018-q4), I get this fatal warning:
[code]
I tried a few ways to fix it, first using `memcpy()` and I think I remember that `CFG_TUD_MSC_PRODUCT` and `VENDOR` are not the same length as `inquiry_rsp.product_id` and `.vendor_id` correspondingly, which causes various issues.

Only gcc version 8 is catching this issue. We h

[2019-01-23 12:06] #32 closed

[2019-01-23 12:21] hathach commented on #33
thanks Dan, somehow I couldn't install gcc v8 via apt package. I will fix this later on.

[2019-01-23 15:30] dhalbert commented on #33
The ppa is supposed to have the latest gcc8, but it doesn't. I opened a launchpad question about it, and it hasn't been answered. I tested with gcc8 by downloading the tarball from [here](https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads) and just pointing my PATH to its bin directory.

[2019-01-23 15:54] hathach commented on #33
Maybe, they didn't update some meta data. I will wait a few days, just being lazy to do reconfiguring now 😊😊

[2019-02-17 18:07] MiliasColds opened #35 "(request) finish custom device support"
finish custom device support

I'm working on a project that needs about 1.2 mb/s of bandwidth over USB in circuitpython which uses this USB layer. I am not very experienced with all the ins and outs of USB. I am fairly certain I can implement the bindings between circuit python and tinyusb.

As such it would be very nice if the custom_device support was finished

[2019-02-20 09:18] hathach commented on #35
Sorry for late response, have been busy with nrf52 arduino code. The custom endpoints are easy, give me a bit of time, I will add them. Note: you need to update descriptor to include those. Another option is using control transfer ( custom/vendor packet). Anyway, I will do it asap

[2019-02-20 12:18] MiliasColds commented on #35
Thanks. I thought the custom was the same as vendor specific from reading through the specifications of usb.

[2019-02-20 12:56] hathach commented on #35
Yeah, it is the same, I mean you could either have a pair of in/out endpoints as custom class or use the custom control transfer which require no more endpoints.

[2019-03-02 23:56] nickzoic commented on #33
G'day!  I bumped into this too (see reference above) ... looks like you're doing the right thing in copying exactly 8 bytes but GCC 8 is being a bit more paranoid.  Perhaps what we should be doing is memcpy *up to* 8 bytes from the vendor CFG string and padding any left-overs with ASCII SPACE as per this seagate document:

From https://www.seagate.com/files/staticfiles/support/docs/manual/Interfac

[2019-03-04 03:48] gpshead commented on #33
For circuitpython's purposes you _could_ just replace the initialization code above these errant `strncpy` usages with direct assignments to CFG_TUD_MSC_VENDOR and PRODUCT as they're #define'd as string literals and get rid of the strncpy for those two.

that doesn't address the real issue though... It sounds like the code should initialize the struct with space characters in these three fields an

[2019-03-04 04:37] #33 closed

[2019-03-17 16:25] sterlinghughes opened #41 "Would love a Mynewt sample app"
It would be great to have a sample app/target that included tinyusb and mynewt on a NRF52840 (or STM32?)

[2019-03-17 18:17] hathach commented on #41
Hi @sterlinghughes, thank you for creating this issue. I did spend some time to get it work with mynewt OS, even create an repo for mynewt example here
https://github.com/hathach/mynewt-tinyusb-exmaple

though I get a bit lost with configure and yaml, I should do better with reading docs. Then keep being pulled into other project. I will definitely give it a try later on :)

[2019-03-21 13:10] hathach commented on #41
Hi @sterlinghughes, I just updated
https://github.com/hathach/mynewt-tinyusb-exmaple
with pca10056, the app could enumerate as both CDC and MSC device, though it requires to modify 2 places in the mynewt-core to include `nrfx_power` module for detecting USB VBUS state changes. It is probably not the right way to do so, but it runs as proof of concept and is a good start for now.

Another issue is

[2019-03-21 14:10] hathach commented on #26
Already Implemented

[2019-03-21 14:10] #26 closed

[2019-03-21 14:17] hathach commented on #23
due to mynewt's build system, its example has its own repo here https://github.com/hathach/mynewt-tinyusb-example

[2019-03-21 14:17] #23 closed

[2019-03-22 20:40] dhalbert opened #47 "tud_cdc_connected true after disconnect"
This is on atmel-samd; haven't tested yet on nrf. As described in https://github.com/adafruit/circuitpython/issues/1681, a CDC-writing routing in CircuitPython (https://github.com/adafruit/circuitpython/blob/master/supervisor/shared/serial.c#L54) calls `tud_cdc_connected()` to check whether it's OK to write to CDC. That routine returns `true` if CDC was connected at one time but then disconnected.

[2019-03-25 04:35] hathach commented on #47
@dhalbert it should already accurate as possible, the connection state is dictate by host both connected or disconnected. Maybe the disconnection happens in the middle of writing loop here
https://github.com/adafruit/circuitpython/blob/master/supervisor/shared/serial.c#L63

Could you move the tud_cdc_connect() check into the loop() to see if that could improve

[2019-03-25 14:02] dhalbert commented on #47
I believe I called `tud_cdc_connected()` by hand from gdb and it was still true even when disconnected. I will check this. My jlink is currently tied up, but maybe I can use the pca10056 on-board jlink.

[2019-03-25 14:10] hathach commented on #47
@dhalbert when host disconnet/connect. It will send an control packet, dcd will register that event. But tinyusb only process it in tud_task i.e usb_background. If you are stepping with gdb withouth invoking the background, it may not be correct. Though there may be other bug with samd port as well, doing a full review with it just now :(

[2019-03-25 14:14] dhalbert commented on #47
In this case, I just switched the data lines off, so the host could not send anything, basically simulating an unplug. So would the control packet flow from the on-chip USB peripheral that there was a disconnect?

[2019-03-25 14:28] dhalbert commented on #47
I do agree any loops that would otherwise hang should re-check connected status if they are not making progress.

[2019-03-25 14:37] hathach commented on #47
It should, if the usb_background() is invoked to handle that usb unplug, which in turn will reset the whole cdc class driver (along with all other class drivers as well).

[2019-03-25 14:57] hathach commented on #47
hmm, there is still chance for something happened between event on the bus and background task invoked. Maybe we should put some event into priority list, which is handled insided the isr context. :thinking:

[2019-03-28 23:14] dhalbert opened #50 "hit TU_BREAKPOINT while debugging"
In CircuitPython, I got this while trying to debug https://github.com/adafruit/circuitpython/issues/1686.
[code]
Does the p_request look completely unreasonable, or is there request there that should be handled or ignored? I believe the computer went to sleep and then this happened; I was out of the room.

[2019-03-29 07:57] hathach commented on #50
Thank @dhalbert it is part of suspend & resume/wakeup sequence which is not supported yet. Though I am working on it just now since I was working on this https://github.com/adafruit/circuitpython/issues/1681

Note: on nrf5x it is  able to distinguish Suspend vs Disconnect, so It could play nicely with this. So I will work on this first before porting to samd. Still didn't figure out to when suspen

[2019-04-02 04:11] #50 closed

[2019-04-04 22:52] dhalbert commented on #47
I tried PR #51 on a PyPortal (SAMD51), connected via a switchable power-only/data cable. I'm running this test program:
[code]
`supervisor.runtime.serial_bytes_available` calls `tud_cdc_available()`.
`supervisor.runtime.serial_connected` called `tud_cdc_conncted()`.

Because this is a board with an attached display, I can see the `print()` output on the built-in screen, even if CDC is not connecte

[2019-04-04 23:00] dhalbert commented on #47
Here is a draft PR showing what I'm running. It's very similar to yours plus checking for connected all during a write: https://github.com/adafruit/circuitpython/pull/1748

[2019-04-05 01:44] hathach commented on #47
Hi Dan, thank you very much for testing this out. This should be fixed (but obviously not), maybe I missed something. Can you change the code slightly so that It will set the simple red LED (PA16)   according to the connection state. I will try to do the test here as well.

[2019-04-05 02:47] dhalbert commented on #47
OK, @hathach and I tested this, and the code is working fine. The data/charge-only cable shorts the D+/D- lines when the switch is changed, which is how a charge port is specified for USB. So that's a weird case. If we power a board separately with a battery or separate supply, unplugging the USB plug will change `.serial_connected` as appropriate. So false alarm.

[2019-04-05 02:55] dhalbert commented on #47
Fixed by #51.

[2019-04-05 02:55] #47 closed

[2019-04-07 05:12] bluelightning32 opened #52 "Documentation vague about when to call tud_task"
The documentation says "you need to continuously and/or periodically call tud_task()/tuh_task() function." Exactly how often does it need to be called?

I'm trying to build a keyboard using an nrf52840 that is sometimes a USB keyboard and sometimes a BLE keyboard. A low idle power usage is very important. Looking at the code, it appears that tud_task is only reading items from a queue and processi

[2019-04-07 05:19] bluelightning32 opened #53 "nrf_drv_usbd_errata.h license is not MIT compatible"
The nrf_drv_usbd_errata.h file included with your package has lots of clauses that contradict your project's MIT license, such as:
[code]

Can you use [nrfx_usb_errata.h](https://github.com/NordicSemiconductor/nrfx/blob/master/drivers/src/nrfx_usbd_errata.h) instead, which has a more permissive license?

[2019-04-08 08:51] hathach commented on #53
@bluelightning32 right, thank you for  the issue, this file is added in recent nrfx release. I will do.

[2019-04-08 08:57] hathach commented on #52
No, you shouldn't and it is not safe to call tud_task in IRQ. You can put it in the main() loop and call `__WFE` at the end of the loop. USB event will wake up mcu, push event to the queue. And the task will process it and then go to sleep afterward with next wfe.

The tud_task() need to be run to handle event from usb bus such as bus event, transfer complete etc ... otherwise device won't respons

[2019-04-08 10:39] #53 closed

[2019-04-15 09:06] hathach commented on #52
@bluelightning32 if it is still not clear, feel free to re-open or comment for further discussion.

[2019-04-15 09:06] #52 closed

[2019-04-18 02:48] ab932 opened #55 "nRF status stage xfer complete dropped"
https://github.com/hathach/tinyusb/blob/074898099da6bfd8784019d97c64712f73b779b0/src/portable/nordic/nrf5x/dcd_nrf5x.c#L281

Doesn't this not do anything since the len is 0? This is dropped if it's on EP0.

[2019-04-18 04:55] hathach commented on #55
it does zero length transaction, most likely for control status stage

[2019-04-18 15:53] ab932 commented on #55
my point is the event is dropped:

https://github.com/hathach/tinyusb/blob/0848c462b3e431a9da42e96537d2b597a4579636/src/device/usbd.c#L664

dcd_event_handler skips processing it. so you never get to execute the xfer

i'm trying to port a chip, but i currently do not know if i get an interrupt for status completion or not. unfortunately the manual for this chip is in Chinese so I'm kinda on my own

[2019-04-18 17:29] hathach commented on #55
Not really, the DCD_EVENT_XFER_COMPLETE is called when the transferred is complete. For control status stage (zero length data), the stack has nothing to process in upper layer. So it simply skips that specific event.

To trace/debug your port, you should have an debugger such as jlink, or increase some variable counter, and printf it later etc... Though It is much easier to use jlink along with s

[2019-04-18 19:24] ab932 commented on #55
Unfortunately this chip is not an ARM chip, it is NDS32! I asked the guys using Google translate but they said that the debug port is not open... damn. Anyway, I'm slowly getting the idea that the interrupts really mean the transfer is done already (SETUP/IN/OUT). I believe I need to control the responses... Thanks for the help. I'll close this issue.

[2019-04-18 19:24] #55 closed

[2019-04-25 14:13] PTS93 opened #58 "Bi-directional Raw HID?"
I was wondering if bi-directional HID is already working and if you tested or have an example for raw HID?
It's a feature I'm desperately missing and the current state of the Arduino USB stack is really not helpful in implementing it, so I was hoping tinyusb might be finally the fix for the sad state of USB on Arduino :)

[2019-04-26 18:10] hathach commented on #58
@PTS93 currently not yet. Output report can be done via control endpoint (e.g keyboard LED) since it is rarely used. Adding output endpoint for HID is easy enough, I just need a reason/scenario to do that.

For Arduino library, I am currently working on it here https://github.com/adafruit/Adafruit_TinyUSB_Arduino still require a bit more works, it is currently tested with nrf52 core first and port

[2019-04-26 21:03] PTS93 commented on #58
I did make a case for this a while back for both CircuitPython and Arduino, if you wanna have a look at my reasoning:
https://github.com/adafruit/Adafruit_CircuitPython_HID/issues/25#issuecomment-409014365
https://github.com/arduino/ArduinoCore-samd/issues/339
The Arduino issue mostly just references the comment I made for CircuitPython.

Given that tinyusb is already being used for CircuitPython

[2019-04-27 09:40] zardam opened #60 "Possible problem with p_csw->status in mscd_xfer_cb"
I'm suspecting a wrong state of p_csw->status in some cases in this function :

https://github.com/hathach/tinyusb/blob/e4be6dd95eba53388b713d6c3f59b4ba7c7886f2/src/class/msc/msc_device.c#L317

This occurs when reading a sector after an another (unknown for now) msc query returns p_csw->status = MSC_CSW_STATUS_FAILED

Setting p_csw->status = MSC_CSW_STATUS_PASSED at the top of the function solved

[2019-04-27 17:15] hathach commented on #60
Hi @zardam  thank you for openning bug report. Can you tell me more about your set up

OS: [e.g. Ubuntu 18.04]
Board: [e.g pca10056]
Firmware Code: [e.g examples/device/cdc_msc_hid]

and how to reproduce it.

[2019-04-27 17:21] hathach commented on #58
thanks @PTS93 , now we have a reason to add it. I will try to make a simple example with it, possibly an simple echo script via HID In & Out endpoint using libusb

[2019-04-27 20:10] PTS93 commented on #58
Awesome! That would be tremendous!

[2019-04-28 06:08] zardam commented on #60
Hi,

The host side is a calculator (TI 83 Premium CE https://education.ti.com/fr/products/calculators/graphing-calculators/ti-83-premium-ce).
The board is an arduino zero clone running latest CircuitPython (https://github.com/adafruit/circuitpython)

I did not have the problem with CircuitPython 3, which was using another USB protocol implementation.

It is easily reproductible if you have the cal

[2019-04-28 09:06] hathach commented on #60
Unfortunately I dont have the calculator. Maybe you could try to debug the firmware, place breakpoint when issue occurs and print out the msc device data, I will help to analyze which went wrong. An usb bus capture will also help alot to narrow down the issue as well.

[2019-05-02 13:34] hathach commented on #58
@PTS93 PR #61 should implement this. The hid echo example is https://github.com/hathach/tinyusb/tree/master/examples/device/hid_generic_inout

there is also a simple `hid_test.py` to send and receive from HID device. It is only tested on my ubuntu (macos, windows please check out the py `hid` installation). Let's me know if that meets your expectation. Feel free to discuss/feedback on how it can b

[2019-05-02 21:52] PTS93 commented on #58
Awesome! Thank you for getting on this so quickly.
I was able to test it on Ubuntu with an nRF52840 Feather Express and the Arduino example.
I also tested it with node.js on the host side which was also working great!

I also tried it on windows but could not get a communication going. Not sure where the issue is. Only tried it with my node.js test script as the python library seems to be *nix onl

[2019-05-02 23:25] PTS93 commented on #58
In terms of how it can be enhanced. I think some more user friendly examples would probably be great (e.g. how to send a simple string from arduino to pc), this is something I should be able to help with, I may have some time next week to work on some more example code for both Arduino and PC.

Other than that I will start incorporating this into an existing piece of software that is currently usi

[2019-05-03 05:10] hathach commented on #58
Yeah, the example is not really great, just a proof of concept for now. Too bad, it doesn't run on windows, but windows user can find other tool with HID write to test with. But I agree we need something simple enough but yet running on windows,macos and linux. I will give it another try later on, got to write bunch of codes just now.

[2019-05-03 15:07] PTS93 commented on #58
I am working with @todbot to get a node.js example on windows going. His library is cross-platform so that is technically a good target for a cross-platform example.
I let you know how it goes.

[2019-05-03 16:48] hathach commented on #58
thanks, that will be very useful. It feel a bit strange that a web script can do better cross-platform than python :D, hopefully it doesn't need much effort for installation  :)

[2019-05-03 20:28] PTS93 commented on #58
Node.js is pretty great for that actually :)
It creates this dependency file automatically similar to this setup.py file that python projects sometimes have.
As long as you have node.js installed its a matter of calling "npm install" and everything will be downloaded and or compiled for you if there is native code.

[2019-05-03 20:42] PTS93 commented on #58
The maintainer from node-hid points to Teensy's raw hid implementation. Maybe it is worth a look to see what Paul did differently. Maybe it is just a matter of the descriptor that windows doesn't like it the way it is.
https://github.com/PaulStoffregen/cores/blob/master/usb_rawhid
https://github.com/PaulStoffregen/cores/blob/master/usb_rawhid/usb.c

[2019-05-04 11:10] hathach commented on #58
@PTS93 thank for suggestion. Does node-hid work on Linux but failed on windows, or it doesn't work with current tinyusb at all ?

I need a bit of help to get started with node-hid. I just install nodejs, npm and node-hid on my ubuntu, but I have no idea which command/script to run. Can you give me a simple script that send and receive like python script, and also the command to run it as well ( I

[2019-05-04 12:53] PTS93 commented on #58
Yes, it worked on Linux without issues but failed on Windows.
You can find a simple script in the first post of this issue: https://github.com/node-hid/node-hid/issues/307
This is what I tested with on Linux and Windows.

If you need any assistance with node.js let me know :)
Before running the script I posted just run `npm install node-hid` in the folder that you saved the script.
By default, dep

[2019-05-06 10:37] hathach commented on #58
Ok, I just run the following script

[code]
output on ubuntu

[code]

on windows

[code]

I will do more testing later on, does the output look similar on your pc @PTS93 , the `<Buffer` is indicator for success transmission right ? I will do more test later on.

[2019-05-06 12:51] PTS93 commented on #58
Correct, the buffer is the buffer that was sent to the MCU and got echoed back.

[2019-05-06 21:36] zardam commented on #60
Here is the interesting part of the USB capture :

[code]

The last READ (10) command is in error, just after a TEST UNIT READY on LUN 5.

`tud_msc_scsi_cb` is implemented here in CircuitPython : https://github.com/adafruit/circuitpython/blob/master/supervisor/shared/usb/usb_msc_flash.c#L64 and retruns -1 in case of this LUN number.

[2019-05-07 00:59] PTS93 commented on #58
Thank you for the extensive debugging, much appreciated!
Pinging @hathach as he is the core developer of tinyusb and also currently looking into why this is happening.

That it is somehow descriptor related would also be my current assumption.

[2019-05-07 06:05] hathach commented on #58
@todbot for doing extensive test on this. I will try to look closer at this. As @PTS93 said, it could be an misplaced descriptor and Linux is more forgiving than windows/macos.

[2019-05-07 08:30] LucasGit opened #62 "porting tinyusb host to ZYNQ 7000 get descripter failed"
**Here is my question**

[2019-05-07 08:33] LucasGit commented on #62
after finish port ,tinyusb can  detect device insert & remove, but when i try to run enumration ,i find that
when first Device DESC was sent ,i can not recv any data and any interrupt will not be triggerd ,so i check the code & debug the REG status,  async enable bit in USBCMD reg was not set when ehci was init  in raw tinyusb project , so i wanna know its a bug or it is  intention ?

[2019-05-07 08:38] LucasGit commented on #62
after some code modify (Enable Async Schedule when init EHCI module ,and disable Periodic Schedule bit)
then i find that ASYNCLISTADDR reg will be clear to 0x00000000 and USBSTS reg show Async Schedule is active and Reclamtion bit is 1 (ZYNQ TRM show 1 mean empty async schedule, 0 means unprocessed async transactions)

[2019-05-09 05:51] hathach commented on #62
Hi, I am currently focus on device stack, the host stack can be a bit unreliable at the moment since it isn't keep up to date. Though, last time I checked the host stack still works with nxp lpc43/18 EHCI. I will try to test it again whenever I could. But I haven't tested it on other mcu at all.

[2019-05-09 06:06] LucasGit commented on #62
@

[2019-05-09 06:07] hathach commented on #62
@LucasGit did you figure it out ??

[2019-05-09 06:10] LucasGit commented on #62
sorry , i mishandling close this issue

[2019-05-09 06:18] LucasGit commented on #62
@hathach and i meet a weird issue now ,when i try to disable Peridic schedule with USBCMD related bit set 0 when init EHCI ,and ASYNCLISTADDR (0x034d312) was init with right value, then with device attach , interrupt was triggered ,but !!! i find that  ASYNCLISTADDR  was change to a weird value  (0x034d312)
and i find that FRAMEINDEX register was changed again and again (not zero) at the enum stag

[2019-05-09 06:28] LucasGit commented on #62
i solve this problem , cause i comment a ReducePower function ,but i do not have a good explanation about this .
and when solve this , ASYNCLISTADDR  value is right ,but the first control xfer is still not success ,but i find USBSTS value is  0x0000c08  means that Periodic and Async Schedule was run at the same time ? so will periodic schedule run  block async schedule ? and at this condition make

[2019-05-09 06:29] LucasGit commented on #62
@hathach

[2019-05-09 08:01] LucasGit commented on #62
i find that when get first 8 byte device descriptor , the setup request direction is IN ? i read the usb protocol ,it said the dir here should be OUT !!!

[2019-05-09 08:05] LucasGit commented on #62
How did you test the tinyusb code ? Does it can process entire enumeration  successfully ?

[2019-05-09 14:01] hathach commented on #62
@LucasGit last time I tested, tinyusb host can mount cdc, msc, hid and hub as well. There should be no problems with protocol core. Although the hcd layer is not well abstract yet. You would need a bit of effort to porting, but in the low level only. For Frameindex reg, it is increased by hw each miro-frame (ehci specs) and it is absolutely normal.

[2019-05-15 05:58] LucasGit commented on #62
@hathach i check the init process seems ok ,and when if send fitrst setup package , the head QH "current qTD pointer" area do not overwrite with the right qTD pointer address , and then the IOC interrupt was not triggered either, i had checked that ASYNC schedule bit in USBSTS reg is set 1,
Reclamation bit is 1, (empty async schedule), so have you ever met this condition  ?

[2019-05-17 03:35] hathach opened #67 "Port stm32f3"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

[2019-05-20 02:42] dpgeorge opened #69 "[Bug] for Metro Express boards .data section is not in bin output file"
**Describe the bug**
`.data` section is not placed in output `.bin` file.

**Set up (please complete the following information):**
 - OS: Linux
 - Board: metro_m0_express and metro_m4_express
 - Firmware Code: any

**To Reproduce**
Build either of the above boards.

**Expected behavior**
`.data` section is expected to be in `.bin` file, but is not.

The `samd21g18a_flash.ld` (and 51) link scripts

[2019-05-20 02:57] LucasGit commented on #62
@hathach Enumeration failed bug has been solved ,the reason maybe
1. in ZYNQ platform ,when HCD write data to RAM ,need an extra operation cache flush to make sure data was write from cache to RAM immediately , all RAM operation which will be operated by HCD & usb controller need to flush cache
2. i disable periodic schedule when init EHCI ,and when i enable it , enumeration seems does not work ,

[2019-05-20 05:40] hathach commented on #69
thanks @dpgeorge , it is indeed and a bug, there is a pr #68 by zardam that should fixed this issue. I also added uf2 target to make it easier to work with uf2 boatloader board #70

[2019-05-20 05:41] #69 closed

[2019-05-20 05:44] dpgeorge commented on #69
Thanks for the fix!  Indeed I was working with uf2 files, so it's nice to have full support for that now in this repo.

[2019-05-20 06:12] hathach commented on #69
I am glad that helps, feel free to open other issue if needed ;)

[2019-05-20 06:15] hathach commented on #62
@LucasGit thanks for updating the status, regarding the periodic list, I remembered using NXP extended feature for using only 8 bit framelist to save SRAM. Zynq probably doesn't support that, it could be the reason. Unfortunately, I don't have enough time to rework the host stack/API for better portability. I will try to do so later on.

[2019-05-20 06:19] hathach opened #71 "Uf2 example"
A generic uf2 example that implement [uf2 specs](https://github.com/Microsoft/uf2) for reference. For simplicity, example doesn't do actual flashing, but only print out the addres + binary contents.

[2019-05-20 07:12] dpgeorge opened #72 "[Bug] Computing time intervals with millis"
**Describe the bug**
When computing time intervals care must be taken with wrap around.  Eg:
[code]
If `start_ms` is close to `0xffffffff` such that adding `ms` wraps it around then the function will most likely return straightaway.

[2019-05-21 04:42] hathach commented on #72
thanks again, PR #73 should fix this. Feel free to re-open & comment if you think it doesn't

[2019-05-21 04:43] #72 closed

[2019-05-21 05:19] dpgeorge commented on #72
A simple way to fix it, due to 2's complement arithmetic overflow which is well-defined behaviour (at least in C99), is like this:
[code]

Also, there are many places in the code that use this pattern, eg in `examples/device/cdc_msc_hid/src/main.c:hid_task()`:
[code]

[2019-05-21 06:37] hathach commented on #72
Ah thank you, that is very neat :smile: . That proves how amazing Math is :1234:

[2019-05-22 01:14] LucasGit commented on #62
Glad to recv your answer , the periodic problem i will try to solve it later !
I am focus on enumeration test now ,and i find that when the usb mico physical interface is not tie ,and then insert to the HOST, the PORT CONNECTED interrupt will be triggered nearly more than 1 times ,and the second time interrupt , the enumeration will be failed ,
do you have any good solutions to solve this problem

[2019-05-23 01:15] LucasGit commented on #62
i find a bug here
file: usbh.c->enum_task（）
code:
//------------- Set new address -------------//
  uint8_t const new_addr = get_new_address();
  TU_ASSERT(new_addr <= CFG_TUSB_HOST_DEVICE_MAX); // TODO notify application we reach max devices

when reach max device address ,the max address will be allocated again ,and then when run open pipe the list_insert() be excuted , the schedule list will be

[2019-05-23 03:57] hathach commented on #62
@LucasGit ah thanks, apparently I didn't test much with hub :)

[2019-05-24 01:57] LucasGit commented on #62
I do not solve the problem that when echi_init() [Periodic & Async Schedule are both enableed] ,the enumeration will be failed , i note you comment in ehci_init() that
`  //------------- USB CMD Register -------------//
  regs->command |= TU_BIT(EHCI_USBCMD_POS_RUN_STOP) | TU_BIT(EHCI_USBCMD_POS_ASYNC_ENABLE)
                | TU_BIT(EHCI_USBCMD_POS_PERIOD_ENABLE) **// TODO enable period list only

[2019-05-24 04:32] hathach commented on #60
hmm, the cpy only implement 1 LUN as far as I know. What causes the host to issue command to LUN 5. btw can you upload the capture file, it is hard to examine raw byte, it is better to analyze it with software viewer

[2019-05-24 05:45] hathach commented on #58
@PTS93 PR #76 should fix issue with windows, it is due to incorrect logic check with hid_report len, windows also send max ep size 64, while Linux only send as many as needed.  I added `hid_test.js` for testing out example as well. Though I don't know nodejs, it will help others a lot if you could help to  update the script to be more descriptive and easier for new user. It is absoluately no probl

[2019-05-24 13:04] PTS93 commented on #58
Awesome! I will see if I can take a look this weekend :)

[2019-05-24 21:42] zardam commented on #60
The CircuitPython provided with the genuine module is customized (and the source code is not available). There is a "protocol" implemented over USB MSC. TEST UNIT READY on LUN greater than 1 are used to trigger several LED flashing mode on the module. (There are also some INQUIRY commands used to validate the firmware of the module).

Here is the capture file from pulseview
[tinyusb.zip](https://g

[2019-05-25 06:07] hathach commented on #58
it is a stupid mistake, quick fix, but I am kept busy with the Arduino library. Thanks for the PR, just merged :)

[2019-05-26 21:37] PTS93 commented on #58
I can also confirm that everything is working fine on windows now :)
I rewrote the example a bit to make it a bit easier to work with for someone in experienced with node.js
I made a PR here https://github.com/hathach/tinyusb/pull/78

[2019-05-26 21:38] PTS93 commented on #58
@todbot maybe you could try this on osx to see if I implemented your fix correctly?

[2019-06-10 11:51] hathach commented on #58
implemented, should be closed. Please re-open if needed.

[2019-06-10 11:51] #58 closed

[2019-06-10 11:52] hathach commented on #24
install ceedling and run `ceedling test:all` in the `test` folder should work now. Part of travis build test.

[2019-06-10 11:52] #24 closed

[2019-06-10 12:31] hathach opened #81 "More Unit Tests"
should mock/fake anything from DCD and below

[2019-06-24 05:57] LucasGit commented on #62
1. usb host stack is working fine now ,& the most problem is cache refresh

[2019-06-24 05:57] #62 closed

[2019-06-24 06:01] LucasGit opened #82 "[Q&A] how to add reasonable cache refresh interface ?"
**Here is my question**
i wanna refine my usb host stack now ,cause the cache refresh code is very  violence ,so i was finding some elegant solution or data structure to solve this question ! do you have any ideas ?

[2019-06-26 09:41] hathach commented on #82
the host stack needs a rework, I agree.  The API and workflow is not optimal comparing to device stack. But I currently don't have enough time to work on it.

[2019-06-28 03:55] LucasGit commented on #82
thanks for your asnswer

[2019-06-28 03:55] #82 closed

[2019-07-03 00:17] hierophect opened #83 "Wrong macro name for VBUS enable on STM32F412[Bug]"
**Describe the bug**
I'm attempting to use TinyUSB with an STM32F412ZG. `dcd_stm32F4.c `uses the `USB_OTG_GCCFG_VBUSBSEN` flag for usb power detection. However, it looks like the F412 has different names set up for the `USB_OTG_GCCFG` register that stores this information; I had to replace this with `USB_OTG_GCCFG_VBDEN`.

Should this be made conditional? It's the only incompatibility I've encount

[2019-07-05 11:17] hathach commented on #83
Hi, can you upload nucleo-f412zg board files here (or better submit PR containing it), so that I could run make and reproduce it here, making sure it fixed issue for all current board.

The pr doesn't need to be well tested, you can update it later on.

[2019-07-09 16:59] hathach commented on #41
https://github.com/hathach/mynewt-tinyusb-example is updated to compile without modifying mynewt-core. Hopefully it could help you getting started with the stack. Let's me know if you need any other features/examples.

[2019-07-09 16:59] #41 closed

[2019-07-11 10:24] hathach opened #86 "[Feature] WebUSB support"
Spec:
- https://github.com/WICG/webusb
- https://wicg.github.io/webusb/#introduction

ref:
- https://github.com/webusb/arduino
- https://developers.google.com/web/fundamentals/native-hardware/build-for-webusb/

[2019-07-18 21:02] hierophect commented on #83
What would be the format you need for a PR? A bsp+example combo?

My fork of Circuitpython will have this issue on compile:
https://github.com/hierophect/circuitpython/tree/F4xx-port-setup/lib

[2019-07-19 04:52] hathach commented on #83
@hierophect no need to worry about this, I made a changes already, please check to see if it works for your board.
https://github.com/hathach/tinyusb/commit/ed6fa460e9a885bb84a6f1588763ea5fb3f4df49

[2019-07-19 08:19] hathach commented on #83
and don't worry about the F411 discovery bsp files, I will add them once the board (on-order) is delivered to me

[2019-07-19 20:10] hierophect commented on #83
All set. Thanks for the fix.

[2019-07-19 20:10] #83 closed

[2019-07-24 02:56] jeremywood opened #88 "[Q&A] Respond to Feature Reports?"
I'm trying to handle feature reports, but it doesn't look like that's implemented. Or am I missing something? Thank you!

[2019-07-24 03:10] hathach commented on #88
Could you please provide more information, your setup: os, board, which example to run. Sets to reproduce it, what to expect and what doesn't work.

[2019-07-24 17:32] jeremywood commented on #88
@hathach Thanks for the speedy response! I've realized that this was an error on my part in understanding the client application and what the actual error was. What was actually happening is that no size was being specified in the HID descriptor for the feature report, and the client application was trying to allocate a zero-sized buffer 😬.

What I needed to do on the TinyUSB side was to define a

[2019-07-24 17:32] #88 closed

[2019-07-26 07:21] hathach commented on #35
Vendor class is being added (almost complete) to support webusb example #86

[2019-07-26 10:53] hathach commented on #88
thank you very much @jeremywood, indeed the current examples doesn't have a template for feature report. I will try to a way to add them in later, though since HID descriptor is quite complicated and application specific, It probably won't cover all use cases. Though at least application can input its own descriptor. Let's me know if you need any help

[2019-07-30 03:24] #35 closed

[2019-07-30 03:50] ladyada commented on #86
yay!

[2019-07-30 13:13] hathach commented on #35
@MiliasColds there is more refactor to do, but it is working

[2019-07-31 14:47] MiliasColds commented on #35
Thank you for your response.

I look forward to trying it out

On Tue, Jul 30, 2019, 9:13 AM hathach <notifications@github.com> wrote:

[2019-07-31 16:00] hathach commented on #86
implemented by PR #89

[2019-07-31 16:00] #86 closed

[2019-08-01 19:19] ladyada opened #91 "[Feature] U2F support or example"
see like:
https://github.com/conorpp/u2f-zero

low priority but wanted to put it down :)

[2019-08-07 17:58] hathach commented on #91
wow, this is bit complicated, will check it out later

[2019-08-12 09:54] LucasGit opened #96 "[Q&A]data buffer err in qhd make usb controller dead in zynq7000 platform"
**Here is my question**
when i test the usb host code with msc class ,and use the fatfs stack write data to the usb stick
when test write arbitrary size data the host controller seemed deal with the reclamation bit always 1
but the IOC not be triggered never

typical log is here:
f_write return code:1, 8865(espect size), 409(actual write size)

register status
              USBCMD: 0x00000b21

[2019-08-13 05:18] hathach opened #97 "stm32f4 doesn't work when compile with gcc 8.3.1 with -Os"
**Describe the bug**
- example cdc_msc_hid doesn't work when compiled with gcc 8.3.1 with -Os. It works with gcc v7 though

**Set up (please complete the following information):**
 - OS:  Ubuntu 18.04
 - Board: stm32f407disco
 - Firmware Code: examples/device/cdc_msc_hid

**To Reproduce**
compile with gcc 8.3.1

**Expected behavior**
usb device is not recognized

[2019-08-14 03:48] LucasGit commented on #96
I test msc write interface with a random buffer address (total buffer size is 20KB ,and the address is assigned to qtd buffer address) and data size is 512 bytes algin (total size is 8KB limit) ,and then write the data into a fix secotor address (which i am sure is valid to write) , as result i found the data buffer error occur easily

then i get some some advice that  zynq 7000 usb controller has

[2019-08-14 05:17] hathach commented on #96
Since I don't have any way to reproduce the issue, the zynq7000 is also new to me as well. I am afraid you are pretty much on your own to resolve this.

[2019-08-14 09:54] LucasGit commented on #96
with the 4 bytes aligned workaround , the code work fine very well @hathach

[2019-08-14 09:54] #96 closed

[2019-08-15 00:11] jepler opened #98 "[Bug] Midi "program change" messages not understood on Windows, Mac"
**Describe the bug**
@CedarGroveStudios reported that in Circuitpython, Windows was having trouble receiving "program change" messages.  In particular, "[midi tools](https://mountainutilities.eu/miditools)" sees a spurious Program Change 0 before a correct Program Change 33 using a test Python program.  (different OSes seem to treat this differently, I didn't see the problem on Linux but did repro

[2019-08-16 06:34] #98 closed

[2019-08-19 04:01] LucasGit commented on #62
I test this in my latest code again, it disappears,,,,,,, Amazing!!! async and periodic work find at the same time ,here is the register status :
              USBCMD: 0x00088b3d
              USBSTS: 0x0000c088
            USBINTER: 0x000c0026
             FRINDEX: 0x0000111a
       CTRLDSSEGMENT: 0x00000000
        PERIODICBASE: 0x04d00000
       ASYNCADDRBASE: 0x04d00120
          TT_CONTROL: 0

[2019-08-20 05:28] hathach opened #100 "Port NXP LPC51U6x"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
This new mcu share same usb controller with already ported lpc, it should be quick to get supported.

[2019-08-20 05:40] hathach opened #101 "Port NXP LPC5411x"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
This new mcu share same usb controller with already ported lpc, it should be quick to get supported.

[2019-08-20 05:41] hathach opened #102 "Port NXP LPC55S6x"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
This new mcu share same usb controller with already ported lpc, it should be quick to get supported.

[2019-08-20 05:44] hathach opened #103 "Port STM32F412 Discovery board"
**Porting layer**
 - [ ] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

[2019-08-20 16:52] tannewt commented on #102
Does this chip have High Speed USB as well?

[2019-08-21 07:19] hathach commented on #102
@tannewt yeah the usb device controller in this chip is similar to one in lpc18xx/43xx which is dual usb with highspeed mode. However, only port0 can run at HS without external PHY, port1 need external component to run a HS otherwise it is FS. Sumup 1 HS + 1 FS (without external component).

[2019-08-24 18:48] cr1901 opened #104 "STM32F0x2 Support"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
I do not know when I'll get around to this, but I have an interest in using the crystal less USB feature of the [STM32F0x2](https://www.st.com/en/microcontrollers-microprocessors/stm32f0x2.html#overview) family for futu

[2019-08-28 04:55] southpawbob opened #105 "tud_vendor_write_available"
I need to be able to write to the USB vendor device when I know the FIFO has room for the data I'd like to send. "tud_cdc_write_available" is a great solution for the CDC device, I'd like something similar for vendor writes. If there is a different way to achieve this, I wasn't able to figure it out.

[2019-08-28 17:18] armsp opened #106 "How to get nRF52840 to communicate with browser via webusb using TinyUSB?"
I don't have a lot of experience with embedded devices and I am asking this question as a last resort after no replies on SO and Adafruit forum.

Recently I got a SAMD21 board to interact with browser via webusb in 2 ways-
1. Selecting `Arduino` from `USB Stack` with the help of arduino [webusb](https://github.com/webusb/arduino) library
2. Selecting `TinyUSB` from `USB Stack` with the help of [Ad

[2019-08-29 03:25] hathach commented on #105
it is still useful to have an API, e.g you don't have half of your message in the fifo. I will add it later on

[2019-08-29 04:01] hathach commented on #106
It is inappropriate repo to ask this question. Arduino TinyUSB port work with `Adafruit Feather nRF52840`, get one or try to port it to your board.

[2019-08-29 04:01] #106 closed

[2019-09-01 00:56] #100 closed

[2019-09-01 00:56] #105 closed

[2019-09-01 01:18] hathach opened #108 "Port new board Feather M0 Express"
**Porting layer**
 - [ ] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
A clear and concise description of what you want to happen.

[2019-09-01 01:20] hathach opened #109 "Port new board CircuitPlayground Bluefruit"
**Porting layer**
 - [ ] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
A clear and concise description of what you want to happen.

[2019-09-01 01:20] hathach opened #110 "Port new board Circuit Playground Express"
**Porting layer**
 - [ ] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
A clear and concise description of what you want to happen.

[2019-09-01 05:11] #108 closed

[2019-09-01 05:11] #110 closed

[2019-09-01 05:11] #109 closed

[2019-09-01 15:54] hathach opened #113 "LPC54114 has issue with hid_composite example"
#101

**Describe the bug**
Enumeration  doesn't show any issue, but the board didn't send any input report

**Set up (please complete the following information):**
 - OS: Ubuntu 18.04
 - Board: LPCXpresso54114
 - Firmware Code: examples/device/hid_composite

[2019-09-04 05:19] cr1901 commented on #97
Commit 8f8ca77 will fixes this for Nucleo, but the fix applies to all STM32 targets.

AFAIK, there isn't a nice `typedef` in the STM32 headers for accessing the TX/RX FIFOs, so I used a `uint32_t *`. Because I forgot the `volatile` qualifier for the FIFO pointers, `gcc` 8.3.1 decided during optimizations to turn the setup packet-handling code from this:

[code]

to this:

[code]

Because a read fr

[2019-09-04 05:58] hathach commented on #97
Superb !! thanks for the fix. Will close this issue once that PR is merged. `volatile` keyword indeed is source of many optimization issue, I made lots of mistake with it in the past as well :)

[2019-09-05 04:17] cr1901 opened #115 "WebUSB Device Example fails to find a driver automatically on Windows 7"
**Describe the bug**
From what I can gather [looking at](https://github.com/hathach/tinyusb/blob/master/examples/device/webusb_serial/src/usb_descriptors.c#L170) the WebUSB example, running the example on Windows should associate the WebUSB interface with the WinUSB driver _automatically and without user intervention_. Windows fails to find a driver on my machine.

**Set up (please complete the fo

[2019-09-05 09:14] hathach opened #117 "LPC55s69 has issue with hid_composite example"
**Describe the bug**
Enumeration  doesn't show any issue, but the board didn't send any input report

**Set up (please complete the following information):**
 - OS: Ubuntu 18.04
 - Board: LPCXpresso55s69
 - Firmware Code: examples/device/hid_composite

[2019-09-05 09:28] hathach commented on #115
@cr1901 it is not a bug, windows 7 doesn't support automatically binding winUSB driver, you need to use tool such as [zadiag](https://zadig.akeo.ie/) to install winUSB driver for the interface manually. It will work afterwards.

[2019-09-05 09:32] hathach commented on #97
close by PR #114

[2019-09-05 09:32] #97 closed

[2019-09-05 12:47] cr1901 commented on #115
@hathach @todbot

I was able to get WinUSB to work using the following `.inf` file I created (_please do not actually use as-is for general use_):

[code]

Because I run Windows 7 in test mode, I was able to install the WinUSB driver _and_ verify that the demo works, after a nice big red warning:
![image](https://user-images.githubusercontent.com/6418027/64342721-1e8d8000-cfb9-11e9-9cd9-2ea84a99f4

[2019-09-05 14:39] hathach commented on #115
for any unsigned INF on windows 7, you need to disable `windows driver signature enforcement` to be able to install. It is one-time work, once it is done and loaded, it should work afterwards. You can just use Zadiag tool, it is much easier :)

[2019-09-05 15:06] #115 closed

[2019-09-05 17:29] pigrew commented on #104
It looks like the STM32F070x6/B, STM32F0708, and STM32F048 are very similar (but some don't have the automatic clock adjustment). It'd be nice if the port would support the entire family.

(I've been doing development with the 070 nucleo board with the ST stack, but am evaluating if I want to switch to TinyUSB.)

[2019-09-05 17:46] cr1901 commented on #104
@pigrew Well, the STM32 families using the Synopsys PHY are about to be abstracted into a single driver. I don't see why the same can't be done with the homegrown (?) PHY. But as of right now, I am unsure when I will be working on this as my "for fun" projects are all on the backburner.

[2019-09-05 18:15] pigrew commented on #104
Thanks for your reply! If I make any progress towards porting, I'll post a note here (I have to wrap my head around the library architecture first). My medium-term goal is writing a USBTMC class driver, but I would need the HAL port first.

As a side note, the F070 board doesn't have a USB device connector. I cut a USB cable in half and crimped on a 0.100" pitch header to connect to the board's pi

[2019-09-06 03:50] hathach opened #119 "Port iMX RT10xx Device"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [x] MIMX RT1064 EVK
 - [x] MIMX RT1060 EVK
 - [x] MIMX RT1050 EVK
 - [x] MIMX RT1020 EVK
 - [x] MIMX RT1015 EVK
 - [x] MIMX RT1010 EVK

**Description**
https://www.nxp.com/products/processors-and-microcontrollers/arm-microcontrollers/i.mx-rt-series/i.mx-rt1060-crossover-processor-with-arm-cortex-m7-core:i.MX-RT1060

[2019-09-06 23:44] ladyada commented on #103
@hathach please try to finish this next since we have circuitpython working other than USB so this is the only step :)

[2019-09-07 01:30] pigrew commented on #104
I've started working on the code a little bit. I'll post my fork on github once I get EP0 up and running, but probably not make a pull request until I get some transfers going. I'm having trouble with the initialization methods for the endpoint states at the moment.... Also, the initialization done by HAL is a little bit different than what is described in the reference manual (e.g. adding time de

[2019-09-07 02:13] hathach commented on #103
@ladyada yeah, got the board blinky, but the usb somehow isn't regconzied. troubleshooting it asap.

[2019-09-08 03:47] pigrew commented on #104
Sheesh.... that was difficult to do without a proper logic analyzer. It took me the longest time to realize that adding printf to the code made it too slow to respond to the host, causing enumeration to fail.

There are also a bunch of features which I'm not planning to implement, like double-buffering or DMA (since I don't need high throughput). Also one can rearrange the priority of the endpoint

[2019-09-08 07:03] hathach commented on #104
@pigrew superb !! That is a already a great progress getting passed the enumeration. Don't worry too much about advance features like double-buffering, just leave sufficient comment. We can always improve it later. I have an STM32F072 discovery board here, when you feel it is ready, please submit a PR, so that we can help to test and review it.

[2019-09-08 17:12] pigrew commented on #104
@hathach

I'm confused about how to handle zero length/multiple packet transfers (assuming BULK for the moment). (My device is currently crashing in the CDC application when it receives a 64-byte transfer in the OUT direction). The Porting documentation says "TODO: who handles zero-length data packets?".

Bulk transfers seem to be working for single-data-packets at the moment... I also found a wei

[2019-09-08 17:53] #102 closed

[2019-09-08 17:53] hathach commented on #103
closed by #120

[2019-09-08 17:53] #103 closed

[2019-09-08 20:16] cr1901 commented on #104
@pigrew FWIW, my Synopsys port _relies_ on the upper layers handling zero-length packets and passing them down to the driver<sup>1</sup>. I've not run into problems yet.

1. Aside from having to detect ZLPs, which my driver needs to know to stop the xfer.

[2019-09-08 22:34] cr1901 opened #121 "MSP430 Support"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
I do the vast majority of MSP430 programming in Rust nowadays. IMO it's actually easier to get a Rust toolchain set up than a C one. However, I still think non-ARM/non-32-bit support of tinyusb is worthwhile.

This woul

[2019-09-09 04:46] hathach commented on #104
not exactly, device stack expect dcd to handle the whole transfer (by DMA or manually ISR trigger within dcd) and only call dcd xfer complete when the whole data is received e.g dcd_xfer(512) --> complete is only invoked when either 512 bytes is received or a short packet received.

To handle buffer when size > max packet size, for each a transaction complete (1 packet), you simply write/read data

[2019-09-09 05:35] pigrew commented on #104
Should we name the driver as "stm32_usba" or "stm32_fsdev" or something like that, as should apply to F0, some F1, F3, L0, L1 and maybe L4?

[ST released a PDF describing the differences between the various USB hardware in their micros](https://www.st.com/content/ccc/resource/technical/document/application_note/group0/0b/10/63/76/87/7a/47/4b/DM00296349/files/DM00296349.pdf/jcr:content/translations

[2019-09-09 05:49] ladyada commented on #103
i tried with great success - here's the bin from thach

be sure to install a jumper into the **JP3** USB jumper, its near the green **PWR** LED
[stm32f412disco.zip](https://github.com/hathach/tinyusb/files/3588803/stm32f412disco.zip)

[2019-09-09 10:10] hathach commented on #104
@pigrew yeah, exactly, there are probably only 2 or 3 USB IP are used for all the stm32 family. I think `stm32_fsdev` is better, we will also rename the current used by stm32f4 & h7 when we merged them together :)

[2019-09-09 12:02] hathach commented on #121
Great idea, adding non-ARM would be great, the stack doesn't rely on any ARM specific feature, hopefully it is easy to port. I will buy the board in the your link.

[2019-09-09 19:03] pigrew commented on #104
I've created pull request #123, but I'm sure that there are some infrastructure things I'm missing (I've not yet figure out how to run unit tests or created a board package.). I'll look at these things and update the pull request. I've been using Windows and am not sure how easy it will be for me to deal with them. Meanwhile, if there are any code comments, I'd appreciate them.

[2019-09-10 05:26] pigrew commented on #104
@hathach or @cr1901 ,

Could we add a dcd method for invoking the USB interrupt handler? Or would suggest how to proceed with interrupts on the ST port?

On some STM32F3, the interrupt is shared by CAN and USB, so the USB stack can't directly define the interrupt handler since both the CAN and USB handlers must be called. My board_test() module is currently failing the CI build because it isn't in

[2019-09-10 09:05] hathach commented on #104
@pigrew yeah, this is a very good point, there will probably an `dcd_irq_handler(rhport)` to address this issue. However, since it is system-wide modification. It is better to have its own PR, I will need to run through other ports and re-test them all !!! Other repo such as Arduino usb library, circuipython will likely to be changed as well.

Therefore, for now, please just change it to match cur

[2019-09-10 09:15] hathach commented on #67
#104

[2019-09-10 09:17] hathach opened #124 "Port STM32F7"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
A clear and concise description of what you want to happen.

[2019-09-10 09:18] hathach opened #125 "Port STM32 L0"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
A clear and concise description of what you want to happen.

[2019-09-10 09:18] hathach opened #126 "Port STM32 L4"
**Description**
Port STM32 L4

[2019-09-10 09:18] hathach opened #127 "Port STM32 F2"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
A clear and concise description of what you want to happen.

[2019-09-10 12:19] pigrew opened #128 "Add ability for application layer to define IRQ handler"
Could we add a dcd method for invoking the USB interrupt handler? Or would suggest how to proceed with interrupts on the ST port?

On some STM32F3, the interrupt is shared by CAN and USB, so the USB stack can't directly define the interrupt handler since both the CAN and USB handlers must be called. My board_test() module is currently failing the CI build because it isn't including the tusb driver

[2019-09-10 12:21] pigrew opened #129 "Add USBTMC class device implementation"
I would like a USBTMC class implementation, with USBTMC USB488 features. This request is only for a device-side driver.

Implementing this class was my reason to start working on tinyusb; I have not been able to find an open source USBTMC device implementation (and many closed source ones do not conform to the standard's, like Siglent's).

(I've started working on it, but won't promise anything).

[2019-09-10 13:40] pigrew opened #130 "Create CFG_EXAMPLE_MSC_READONLY for devices with low memory"
Yeah, I think we could do this, let's called it CFG_EXAMPLE_MSC_READONLY, even with single disk, there is mcu that doesn't have enough 8KB of SRAM. If you don't have time, I will do it myself when the PR is merged.

[2019-09-10 17:09] hathach commented on #104
should be implemented by #123

[2019-09-10 17:11] pigrew commented on #125
Likely implemented by #123, though some #ifdef and testing needs to happen.

[2019-09-10 17:13] pigrew commented on #67
Can we split this into two issues, one for ST-FSDEV and another for Synopsys IP? (This issue for the synopsis driver, a new one for the ST driver)?

[2019-09-10 17:33] hathach commented on #129
thanks for issue, I am new to this class, I will also check to see if I could get some stubs for you. So that you don't have to read the whole stack.

[2019-09-10 17:36] pigrew commented on #129
It's actually very similar to CDC. I'll start with the CDC as a base. It mostly uses control transfers on EP0 to queue traffic on bulk. I think that interrupt endpoints may be used, too.

[2019-09-10 17:37] pigrew commented on #67
My mistake... I was thinking F1 and not F3. If only I could retroactively delete comments....

[2019-09-10 19:32] pigrew opened #132 "tud_cdc_get_line_coding() returns void"
tud_cdc_get_line_coding() (cdc_device.h:136) return a value, but is marked as void.

`static inline void tud_cdc_get_line_coding (cdc_line_coding_t* coding)
{
  return tud_cdc_n_get_line_coding(0, coding);
}`

I'm not sure if it should be void or not...

[2019-09-10 21:58] pigrew opened #133 "Usage of TU_ASSERT and TU_VERIFY"
Based on other codebases, I assume that the argument of TU_VERIFY is always executed (and the return value checked), but the argument of TU_ASSERT is only executed if DEBUG is defined.

(i.e. the calls inside TU_ASSERT can be removed in a release build, but those in TU_VERIFY(...) are always called, forcing a breakpoint if the condition fails if defined(DEBUG).).

(i.e. the conditions inside TU_AS

[2019-09-10 23:39] pigrew opened #134 "Byte endianness"
Which functions should I be using in order to swap from USB byte order (little-endian) to the micro's byte order?

(I'm not using a big-endian micro, but it's something to think about, especially while I'm writing a class driver.)

[2019-09-11 02:12] cr1901 opened #135 "USB MIDI Example fails to install properly on Windows"
**Describe the bug**
On Windows, the USB MIDI Example fails to install the Audio device portion of the driver, as seen in the following images:

However, this seems to be a symptom of the bug. If I reset my STM32F4-DISC board without unplugging the USB cable, the USB MIDI device _will_ enumerate successfully when the microcontroller reboots.

**Set up (please complete the following information):**

[2019-09-11 03:06] hathach commented on #67
Not a problem at all, that is all ST's fault, they make thing too confusing for us :smile:

[2019-09-11 03:21] hathach commented on #132
right, I will fix it, copy & paste is not very good technique :smile:

[2019-09-11 03:30] hathach commented on #133
They both check for condition ALWAYS, even when DEBUG is not enabled. The macro is a bit messy, I will clean it up later. It doesn't need to be that complicated.

a `TU_ASSERT` failed is considered as fatal error, affecting the working state of the stack/device e.g failed to open an endpoint --> this cannot be ignored and will breakpoint halt when debuggger is attached, which help us to understand

[2019-09-11 03:33] hathach commented on #134
these one https://github.com/hathach/tinyusb/blob/master/src/common/tusb_compiler.h#L70

it is part of compiler builtin function, so far only gcc is supported, but these are easy port, probably only naming is different.

[2019-09-11 03:33] #134 closed

[2019-09-11 03:47] pigrew commented on #133
I guess I'm really used to the .Net C# libraries where Debug.Assert's parameter is shortcutted (and not executed) when in release mode.

I consider the asserts to be code that should NEVER be triggered, so they can be removed (if desired) in a release build. Some of the MCU may have minimal flash storage, and need the assertions to be removed in order for the stack to fit, so it's convenient that

[2019-09-11 03:49] pigrew commented on #134
USB is mostly little endian, so we would need to swap bytes on a big endian MCU.

Are there functions that do the swap on big endian?

[2019-09-11 03:50] hathach commented on #133
Yeah, I know the builtin `assert()` is expand to nothing standard library <assert.h> . Though I still prefer to have it as it is maybe renaming it to something else such as TU_ERROR() to prevent user confusion. Though these functions are meant to be used within the libraray, application doesn't need to use it at all.

[2019-09-11 03:57] hathach commented on #134
some class such as SCIS on msc use big endian https://github.com/hathach/tinyusb/blob/master/src/class/msc/msc_device.c#L250

[2019-09-11 04:16] #132 closed

[2019-09-11 05:59] #104 closed

[2019-09-11 05:59] #130 closed

[2019-09-11 07:40] hathach opened #139 "hid_composite example doesn't work with STM32 fsdev + synopsis"
**Describe the bug**
The new hid_composite example doesn't work with any of stm32 chip. The example is hid only device with only 1 input endpoint. It works on other mcu just fine

**Set up (please complete the following information):**
 - OS: Ubuntu 18.04
 - Board: stm32f072disco, stm32f407disco
 - Firmware Code: examples/device/hid_composite

[2019-09-11 10:14] #67 closed

[2019-09-11 16:10] pigrew opened #143 "Lint dcd_lpc17_40"
At dcd_lpc17_40.c, there is `TU_ASSERT((epnum % 3) == 3 && (epnum != 15))`.

This is always false since modulo 3 always returns between 0 and 2.

I'm not familiar with this device, so I'm not sure if it was intended to check for equality with 0?

[2019-09-11 16:17] #124 closed

[2019-09-11 16:19] hathach commented on #143
thank you very much for the PR, you are dead right, I was probably coding and sleeping at the same time back then :smile:

[2019-09-11 16:25] pigrew commented on #143
I'm playing with cppcheck; I'll push a project file for it at some point. Many of the errors are silly, but it's catching some real ones. I was really looking for a MISRA checker, but didn't find one. The TI compliers have one built-in... but yeah.

[2019-09-11 17:26] hathach commented on #143
Yeah, I used to play with those as well. MISRA 98 is really conservative which prevent all the C99 goodies and causing lots of nowadays code user C-style comment one 1 line instead of // . The next specs MISRA 2012 is better. Too bad, I bought the specs when it debuted but still haven't finished reading (almost forgot everything now). There is also CERT C/C++  coding standard as well, those are re

[2019-09-11 18:35] cr1901 commented on #139
FWIW, I was able to get `hid_composite` working on my stm32f407 discovery board by waiting about 30 seconds before pressing the user button.

[2019-09-12 00:14] pigrew opened #144 "Lint?"
Should we use lint? Should it be added to Travis-CI?

Here is the settings file I used with cppcheck which found issue #143.
[tusb_stm32f070_dev.cppcheck.txt](https://github.com/hathach/tinyusb/files/3603193/tusb_stm32f070_dev.cppcheck.txt)

The results are mostly instances of `TU_ASSERT(false,)`, as cppcheck's parser fails on empty parameters in asserts (at least in C99 mode).  There may be other

[2019-09-12 00:20] pigrew commented on #133
If documentation could be added on which to use at which time, it would be great (and I'd be happy for this report to be closed). I'd also appreciate direction on which assert to use for checks which can be removed in production code.

At the moment, I'm using TU_ASSERT() for things which only happen due to bugs in the stack or application code; these are the sort of thing I'd may want to be remov

[2019-09-12 00:22] pigrew opened #145 "Lint: hw/bsp/board.h typo of compiler directive"
[code]

[2019-09-12 02:08] pigrew commented on #139
I build it in STM32CubeIDE... seems there is an invalid descriptor (as reported by usbtreeview):

[code]

[2019-09-12 02:34] hathach commented on #139
I think it is due to the fact that stm32 somehow doesn't response to host request, example run just fine on other mcu such as lpc and nrf52840. I will hook up my usb analyzer later on to troubleshoot

[2019-09-12 02:43] hathach commented on #144
yeah sure, though I don't know how to set up lint check to run on travis. If possible, would you please submit an PR for that, it will be very useful. If you don't have time, just give me a pointer. I will do it whenever I could :)

[2019-09-12 02:46] hathach commented on #133
@pigrew yeah sure, I should really write more documentation, but I seem always being in a middle of something lately. Will take the chance to clean it up a bit as well.

[2019-09-12 03:12] pigrew commented on #139
The "GET DESCRIPTOR HID Report" response is too short. Then, the computer tries to "ABORT_PIPE" and "SYNC PIPE AND CLEAR STALL". It's very likely that my stm32f0 driver doesn't handle stalls properly.

So, I think it's a combination of two bugs: The HID Report descriptor response is broken, and also our drivers don't clear stalls properly.

However, I'm about to sleep. Good luck.

[2019-09-12 03:36] pigrew commented on #144
I think I signed up for tinyusb on Coverity, but it may need your approval there?

Otherwise, I might just do things the manual way and try building code (with a null driver) for tiva, and see what its static analyzer says.

[2019-09-12 03:43] hathach commented on #145
thanks for the issue, Lint proves that it is very useful indeed :wink:

[2019-09-12 03:45] hathach commented on #144
yeah sure thing, give me a link, I will approve it, more cool stuffs to work with :smile:

[2019-09-12 03:49] pigrew commented on #144
https://scan.coverity.com/

Someone already created a tinyusb project there? I think?

[2019-09-12 04:33] dhalbert commented on #139
It may be that there is an issue in the case above, but I _always_ see the error "Error reading descriptor : ERROR_INVALID_PARAMETER" from usbtreeview, even for perfectly good HID descriptors that work just fine.

[2019-09-12 04:49] #127 closed

[2019-09-12 04:49] #145 closed

[2019-09-12 04:52] hathach commented on #144
@pigrew haha, I already had an account in the coverity site,I think I created that tinyusb project. The coverity name does ring a bell to me :smile:

[2019-09-12 04:53] hathach commented on #144
approved !!! Let's me know if I could do anything else to help :)

[2019-09-12 05:41] hathach commented on #139
Good night !! I will try to fix this later on, it is systematic, so it is probably something minor. Could be my example issue as well !!!!

[2019-09-12 07:32] cr1901 commented on #139
@hathach Is there a way to force a (non control EP) device stall in tinyusb for testing purposes? I can't find any obvious problems w/ my stall/clear stall impl in the Synopsys driver, but that of course doesn't mean they don't exist :).

[2019-09-13 06:20] pigrew opened #152 "Array out of bounds error"
dcd:437
[code]

This can access out of bounds memory if the host transmits a large value for wIndex.

Fixed in #150

[2019-09-13 06:59] hathach commented on #152
Host shouldn't but we can't tell for sure. Yes, we should add TU_VERIFY before accessing the array. Thanks for spotting the issue.

[2019-09-13 07:18] #152 closed

[2019-09-13 12:48] pigrew opened #154 "class-type control request dispatch"
USBTMC requires its class driver to handle standard and non-standard control requests to its endpoints.

Currently (type=class, rcpt=EP) control requests are discarded by USBD.

Please implement a call to a class driver's control upon the following occasions:

1) (type=class, rcpt=EP,bRequest=*) control requests
2) (type=standard, rcpt=EP,bRequest=USB_REQ_CLEAR_FEATURE, wValue = ENDPOINT_HALT) con

[2019-09-13 12:57] #133 closed

[2019-09-13 21:26] pigrew commented on #144
@hathach I've spent the daily allotment of four builds. I've not gone through all the "issues", but they mostly exist in the MCU library code, not tinyusb itself. However, I'm not convinced I know how to use the tool properly, or that it knows that interrupts and MCU registers exist. I can't find the documentation for it, either.

[2019-09-13 21:45] pigrew opened #156 "Off by one error in Synopsys driver"
Issue found by Coverity:

dcd_synopsys.c:273:

[code]

I believe this is an off-by-one, and it should be `epnum >= EP_MAX`.

However, I'd suggest using TU_ASSERT with the inverse logic:

[code]

This could also be made more clear by using names like `EP_COUNT` instead of `EP_MAX`.

[2019-09-13 23:59] cr1901 commented on #121
My Launchpad arrived today. I will hopefully start the port this weekend :).

[2019-09-14 00:11] pigrew commented on #121
I started writing updating the compiler quirks header file for the TI compiler. I'll finish writing it, and post a PR for it. I was running it for its MISRA reports.

[2019-09-14 00:15] cr1901 commented on #121
@pigrew That would help a lot. However, I would prefer to write the actual driver myself because this is in fact a warmup for me for MSP430 USB support in Rust.

[2019-09-14 00:51] pigrew commented on #121
@cr1901, I feel like I should be learning Rust, but just haven't yet. I'm sticking to Cfor now.... but I'd be happy to review your code once it's written.

As much as I've working on all the modules in tinyusb, I'm trying to focus only on what will get USBTMC working for me on STM32 (which means FSDEV, core, and implementing a class driver). I don't even have any USB-capable MSP430 here.... no, no

[2019-09-14 02:54] hathach commented on #121
@pigrew Hey, you can file an issue for TI Tiva as well, I think I have an Tiva C board laying somewhere on my shelf 😃

Hmm, what is Rust :thinking: , look like it is time to upgrade my brain 😄😄

[2019-09-14 03:02] hathach commented on #156
I really like coverity scan now, I remembered register but struggled to get it running several years ago. This also remind me that I need to start writing some unit tests for the stack. The stack is aim to be Test-Driven Development (TDD), but heck, I never have time for such as fancy thing 😆😆

[2019-09-14 03:06] pigrew commented on #156
Is it better for me to create pull requests for these simple things, or to just do the bug report?

[2019-09-14 03:22] hathach commented on #156
It is much better if you could make an PR then fill in the information as above if it is a quick fix for you. Also you dont have to explain much, we all know if it is obvious issue. I actuall speak C better than English (non English speaker here) 😆😆

[2019-09-14 03:27] hathach commented on #144
Mcu vendor is terrible of writing driver 😄😄, I often got to disable some warning, error inside board.mk to get bulding. One of the issue that prevent me to go all warnings, pendatic compilation. Later on I will try to learn and configure the tool as well. This is already very good, I recevied the scan report from coverity and they nake good points

[2019-09-14 03:33] pigrew commented on #144
I marked a the few of them that looked important to take care of, so we can go back and make sure they are fixed. There was an I2C driver issue that might or might not be real.
I started to try playing with marking the endpoint handlers as handing out "tainted" data (from the attacker), but then their system stopped working (got build errors, can't see anything now).

There must be some trick on h

[2019-09-14 03:35] rajivr commented on #121
@cr1901 How are you planning on adding rust support to TinyUSB?

I am new to TinyUSB, following is the bindgen generated APIs that I currently have. One thing that noticed was that Rust lacks support for packed structs, so most likely I'll need to add descriptor support from C-land.

[code]

[code]

[2019-09-14 04:23] cr1901 commented on #121
@rajivr

~I wasn't~. I was planning to implement the `UsbBus` trait from [usb-device](https://crates.io/crates/usb-device) for MSP430, so when usb support in Rust matures, MSP430 will be ready.

Okay, so this is not _quite_ true. I started writing a `tinyusb-sys` crate for Rust, focusing on the `build.rs` part and deferring `bindgen` until later. But I ran into a few snags:

1. I have a config opt

[2019-09-14 04:28] #156 closed

[2019-09-14 04:51] rajivr commented on #121
That's correct. Sorry I meant [bitfield](https://github.com/rust-lang/rfcs/issues/314) support.

[2019-09-14 05:02] hathach commented on #121
@cr1901 thanks for information, there seems to be a lot to learn with Rust. Let's me know if you need any helps to make tinyusb more friendly with rust. I probably wont help much with the rust implementation 😉

[2019-09-14 05:43] cr1901 commented on #121
@hathach Could you preemptively download the "msp430-gcc-support-files-1.207.zip" file from [this page](http://software-dl.ti.com/msp430/msp430_public_sw/mcu/msp430/MSPGCC/latest/index_FDS.html) and preemptively make a repo for me? This zip file contains the msp430 include files and linker scripts.

[2019-09-14 05:45] cr1901 commented on #121
@rajivr Eep. Err, my personal opinion is that using bitfields in C is a bug, not a feature. Where are they used specifically in tinyusb when generating descriptors?

[2019-09-14 05:52] rajivr commented on #121
I recall seeing it (here)[https://github.com/hathach/tinyusb/blob/master/src/common/tusb_types.h#L315-L326]

[2019-09-14 06:00] cr1901 commented on #121
`bmAttributes` will become a `u8`; `wMaxPacketSize` will become a `u16`, and we can use macros to align the bitfields appropriately at compile-time. This isn't ideal, but I think it'll work.

[2019-09-14 06:09] hathach commented on #121
@cr1901 I am out now, but I think it would be a folder as follows

hw/mcu/ti/msp_driver

Where msp_driver (or msp430_driver) is the submodule. I will check their family line up for the name. Though if you know what it should, just create it locally for now, I will creat submodule as the name you suggested later. And you can make an pr to submodule to add those files.

[2019-09-14 06:14] hathach commented on #121
@rajivr those aren't required to build descriptor, you can just generate an byte array for descriptor, it is meant for the stack to parse the desc. In fact, in my example, I also use the uint8 array for descriptor using these macro templates

https://github.com/hathach/tinyusb/blob/master/src/device/usbd.h#L164

[2019-09-14 06:26] hathach commented on #144
Thanks for putting effort into this, that MISRA 98 is too old , the MISRA 2012 and above allow C99 features I remembered. The codebase doesn't use i2c except for ea4357 which use i2c gpio expansion. But it is our bug to worry about.

I will write more unit tests with unity and cmock later on to make sure all the control flow is covered and tested :)

[2019-09-14 11:58] cr1901 commented on #128
Adding my own opinions before I forget...

This is ultimately how Rust [real time solutions](https://github.com/japaric/cortex-m-rtfm) handle interrupts as well- setup and teardown code is required before calling the actual interrupt code because the compiler requires it.

On the other hand, it seems that FreeRTOS can happily deal with interrupts without requiring boilerplate code, so this change

[2019-09-14 15:29] pigrew commented on #144
Yep, they do have a badge. But, I'm too embarrassed to use it until I figure out if we're using the tool properly. I created a "coverity" branch in my fork for the latest build I submitted. I created an example which should include ALL of the class implementations (but still only BSP at a time).

I don't know if Coverity likes the same file being compiled multiple times, or not (like the build all

[2019-09-15 00:13] pigrew opened #161 "ep_busy_map: concurrency issues"
EDIT: I've updated this because I misread the code initially (though the variable was accessed from within interrupts). I believe this bug only applies if using a preemptive RTOS.

The `ep_busy_map`:
* Is not declared volatile
* Is set by the `usbd_edpt_xfer()` function, which is called from many tasks (such as the USBD core task, USBD control handler, and application tasks).
* Is reset in USBD co

[2019-09-15 05:22] rajivr commented on #128
In TockOS (non-realtime Rust OS), we do something [similar](https://github.com/tock/tock/blob/b7e7eeecd75b5479b002bf62a22b454f1ad7b02c/arch/cortex-m3/src/lib.rs#L60-L115).

I am still coming up to speed with Tinyusb code base.

My current understanding is that interrupt enabling (`dcd_int_enable`) and disabling (`dcd_int_disable`) at NVIC is only used prevent interrupt handler from manipulating ev

[2019-09-16 00:35] cr1901 commented on #121
@rajivr I have uploaded what I have so far (not much) if interested and invited you to be a collaborator: https://github.com/cr1901/tinyusb-sys. Let's discuss more on that repo (I won't be _coding_ on it at the moment- my bandwidth is too thin- but happy to discuss).

[2019-09-16 04:10] pigrew opened #162 "ST FS Dev driver: typo & EP <64 bytes"
The ST FSDev driver has a rx/tx typo, and also doesn't properly support EP <64 bytes.

These are mostly fixed, see pigrew/tinyusb#1, but I don't think that it's ready for merge yet.

Do we have any sort of device test which we can run on a computer to verify that an driver does what it's supposed to do? I saw that the USB-IF has a (USB20-CV)[https://www.usb.org/usb2tools] tool to check if things w

[2019-09-16 04:27] #154 closed

[2019-09-16 09:37] #143 closed

[2019-09-16 11:18] hathach commented on #162
No I don't know of device test as you mentioned. Though we can minimize these issue by writing unit tests. There are a few simple tets with ceedling (unity + cmock). I plan to add more later on when having time :)

[2019-09-16 12:16] pigrew commented on #162
I'm suggesting more for the test of the device drivers. Do you plan to emulate the USB peripherals?

[2019-09-16 12:47] pigrew opened #164 "Create usbd_open_ep() function"
Some class drivers directly call `dcd_edpt_open`, which seems to be the the only spot where a class driver directly calls a driver function.

The usbd module does have an open EP function, but it only open pairs, not single EPs.

To this end, can a `usbd_edpt_open()` function be defined (probably just a simple wrapper), so that we can remove uses of `dcd_*` functions from class drivers? Also note

[2019-09-16 14:02] hathach commented on #164
Yeah, it is on my plan. usbd could do even more than that. I just need to find more time 😃😃

[2019-09-16 14:17] pigrew commented on #164
Yeah, this is not high priority, just makes me feel dirty. I might do a quick, not so intellectual fix...

[2019-09-16 15:54] hathach commented on #164
It is not too intellectual, though you probably need spending more time troubleshooting bugs within the stack to be aware of edge cases :)

[2019-09-16 23:00] pigrew opened #166 "USBD SET_CONFIGURATION() works only once"
The SET_CONFIGURATION message is not handled properly if it is called to set the configuration to `cfg=1` twice in a row. It also does not de-configure itself if told to go to configuration 0.

As I don't think there are plans to support multiple configurations, perhaps we should, when configuration is requested, to:  disable interrupts, tell classes to reset, and close all non-control EP?

If it'

[2019-09-16 23:29] pigrew commented on #164
I started looking at this, and realized that they can just call `usbd_open_edpt_pair` with `count=1`.

Do they do that, or do we make a new function to open a single edpt, and make the open_pair function always open two (as its name implies}?

[2019-09-17 10:22] hathach commented on #166
I don't think multiple configurations is supported anywhere in the world just yet. You probably couldn't find any devices and/or host driver that support it. The common way people would do it is disconnect, change the descriptor then reconnect. I don't really worry about this at all, dcd used to have edpt close() API but I removed it since there is no usage.

For `Set Config` multiple time, yes, w

[2019-09-17 11:33] pigrew commented on #166
The USB compliance test software configures and configures and deconfigures many times in a row ( maybe it's just testing if the stack follows the specification....). You're probably right that nobody

I'll post a small few-line patch to "fake" the deconfigure as I outlined (mostly in order to pass the compliance test software).

[2019-09-17 13:17] hathach commented on #166
Ah, I didn't test with the compliance test software. Would you mind giving its link here, I will try to run it to test with.

[2019-09-17 14:44] pigrew commented on #166
I've finished testing, and made too many changes to the USBD core. Oops.

I'll create a PR with a link to the software.

[2019-09-17 15:12] pigrew opened #168 "HID class get HID descriptor request"
The HID class fails to reply when a request for the HID descriptor is made:

hid_device.c:208
[code]

Based on the HID spec, it must also support HID_DESC_TYPE_HID.

This causes the HID checks in the USB validator to fail.

[2019-09-17 15:46] pigrew opened #170 "HID example: logical maximum out of bounds"
In the composite HID example, the HID keyboard's logical maximum is out of boards.

Per the HID spec, the logical maximum is a _signed_ 1-byte value. In the code, it's setting the maximum to 0xFF and the minimum to 0x00. This is being interpreted as a minimum of 0 and a maximum of -1. The HID validator complains that 0 is not less than -1.

[2019-09-19 04:27] hathach commented on #166
That is lots of work, thank you very much.

[2019-09-19 04:37] hathach commented on #168
Thanks, I didn't know host will attempt to read this report as well. I should have run the compliance suite as you did, it is very helpful indeed :)

[2019-09-19 04:49] hathach commented on #170
interesting, I used to put value that is less than 127 there, but user reported that it needs to be 255 or so  to support non-english keyboard, the author of this PR is Japanese.

https://github.com/adafruit/Adafruit_nRF52_Arduino/commit/174ffb2df6d614207f375da9b5419a1454a7f476

I think the value should still be 255 for non-english, though we will find a way to make validator software happy hmm

[2019-09-19 05:04] pigrew commented on #170
I wonder if you can use -128 to 127?

[2019-09-19 05:06] hathach commented on #170
yeah, it could be. @ogatatsu what do you think, can we change thse to -128 to 127 and the report still work in your language ?

[2019-09-19 05:18] hathach commented on #162
I tried once, mocking EHCI developing host stack, but let's leave that behind, it is not fun experience. The main focus of the stack is usbd, we can mock all dcd() API and make sure the stack response correctly with user descriptor and diff host behavior.

[2019-09-19 05:23] hathach commented on #128
yes, it is only true for No-RTOS port, for an actually RTOS, we should have an port for it, and the tud_task() will use the RTOS native queue/mutex to accessing those event queue, receive FIFO for cdc etc...

This is an freeRTOS port, basically semaphore, mutex and queue https://github.com/hathach/tinyusb/blob/master/src/osal/osal_freertos.h

[2019-09-19 14:16] ogatatsu commented on #170
Hi!

When I tried to run the following code, all keys stopped working.
It seems to be interpreted as `unsigned`.
[code]

My environment is BLE Keyboard and windows 10.

[2019-09-19 15:31] pigrew commented on #170
@ogatatsu , thanks for your reply. The issue is that the USB compliance testing fails because of these value.

I don't plan to use HID myself, so I'm happy for this issue to be closed if it needs to be.

Would you be able to post the descriptor table from other devices, so we can see if it's common to set the bounds to 0x00 and 0xFF? If it's something that everyone does, I'd suggest that we close

[2019-09-19 18:52] cr1901 opened #171 "`dcd_event_timeout`?"
**Is your feature request related to a problem? Please describe.**
One thing I don't handle in the Synopsys driver is the fact that IN xfers can time out. Currently, I don't have code to handle time out even though I have the timeout interrupt enabled, per the manual recommendations (yes, _this is a bug!_, but read on).

If the driver times out, it will eventually [die](https://github.com/hathach/

[2019-09-19 20:01] pigrew commented on #171
The stm32 IP has a nebulous "ERROR" flag which can be due to a huge number of things, and there is no way to tell what caused an issue. (And the manual says to ignore the errors since the hardware will likely retry the transfer). In the USBTMC protocol, there is a set of error handling actions that the host can request in order to clear stalled/NAK EP, or abort transfers.. I'm not sure if other cl

[2019-09-20 04:36] hathach commented on #171
@cr1901 If it is transfer error, we could report back to the stack with
`dcd_event_xfer_complete(ep_addr, xferred_bytes, result)`

where result = 0 is success, 1 is error, 2 for stalled. However, the stack doesn't handle such an error, primarily since I haven't encountered it while developing. Though the stack could re-queue/retry the transfer if it has error.

A stack reset is not a good approach

[2019-09-20 04:51] hathach commented on #171
Thanks for your helpful info, yeah it is important to know the root cause of the error. So far the stack hasn't been tested with transfer error, but usbd.c should be able to handle USB protocol error. Though controller error is best resolved by dcd,

I really like to handle the issue, but we need to reproduce it first. I tend to not over-think myself since it is easy to make us write un-tested/run

[2019-09-20 05:09] hathach commented on #170
@pigrew give me a bit of time, I will dive into it later on. Currently my hands is tied down to BLE work. The HID report descriptor is a very complicated one. We can try to see how consumer product declare this.

[2019-09-20 05:25] cr1901 commented on #171
Yea, that probably works, didn't really think of that :P.

The error I'm thinking of was: Push (but don't hold) the user button during the `hid_composite` demo before enumeration is finished, and eventually you'll get a timeout on an IN xfer. This behavior disappeared when #139 was fixed.

However, I'm currently using an older commit from before #139 was fixed to see if I can flush out why the tim

[2019-09-20 06:07] #162 closed

[2019-09-20 13:59] ogatatsu commented on #170
I captured my usb keyboard with wireshark.
Since it is long, it is pasted on gist.
https://gist.github.com/ogatatsu/95f702c64aad708827c2b26d2f562a37

It seems that 0xFF is set, but bSize is 2 bytes.
https://gist.github.com/ogatatsu/95f702c64aad708827c2b26d2f562a37#file-realforcedescriptorcapture-txt-L208

[2019-09-20 14:11] pigrew commented on #170
I've not tested it, but to check my suggestion, you should be able to change the items to be 2-byte in the table:

[code]

If this works, some (static) bounds checking should be added to verify the the parameters are in the valid range. I'm not sure if everything needs to be signed, or just the logical and usage values.

[2019-09-20 16:21] pigrew opened #173 "Add memory barrier after disabling interrupts for NO-OS?"
I think we need a compiler memory barrier after disabling interrupts in the no-os OSAL.

My understanding is that this would only cause issues if link-time optimization is used.... In the STM32 FSDEV port, I added some extra instruction and memory barrier ASM instructions which suit this practice. These create a compiler memory barrier due to them being marked as volatile memory instructions (in t

[2019-09-20 16:22] #125 closed

[2019-09-20 17:06] #168 closed

[2019-09-21 02:08] pigrew opened #174 "Effect of dcd_edpt_clear_stall"
I'm hunting down a bug with my USBTMC & FSDEV driver, which I believe is due to the handling of stalls.

**Should the `dcd_edpt_clear_stall` function always set the EDPT to NAK, or return it to its previous state (NAK or ACK)? Normally it will change the toggle to DATA0, if the EDPT is in NAK or ACK state, does it still reset the toggle to DATA0?**

What should happen in USBTMC is:

1. Error on en

[2019-09-21 06:19] ogatatsu commented on #170
I have confirmed that my BLE Keyboard works correctly when I rewrite the firmware in the same way.

[2019-09-21 13:18] hathach commented on #174
Currently  `dcd_edpt_clear_stall` will only clear stalled condition, endpoint will be go back to NAK (i.e no queued transferr. Because that stalled could be part of a set of class's procedure/protocol, and doesn't have a generic rule for USBD to handle. Let's check out this example

1. Host send an "Unsupported Read Data Command" to OUT endpoint
2.  hw controller will just ACK that packet, and pas

[2019-09-22 04:00] #174 closed

[2019-09-23 05:19] hathach commented on #173
Thank you very much @pigrew , I am new to this `memory barrier`, give me a bit of time, I will try to read this up for further discussion.

[2019-09-23 05:21] cr1901 opened #178 "`cdc_msc` demo line-state-changed callback does not send data immediately."
**Describe the bug**
The `cdc_msc` demo contains a [callback](https://github.com/hathach/tinyusb/blob/master/examples/device/cdc_msc/src/main.c#L132-L142) that sends the string `TinyUSB CDC MSC HID device example` to the host whenever a serial port is opened on the host. I'm not able to get this string to be sent until _after_ I have written some data to the serial port, after which the string get

[2019-09-23 07:31] cr1901 opened #179 "Repeated disconnections causes the cdc_msc demo to stop functioning."
**Describe the bug**
While testing whether the Synopsys driver survives a USB disconnect and reset, I decided to test repeated disconnects. After enough disconnects and reconnects, the `cdc_msc` demo will stop working on my laptop; both the Mass Storage device fails to appear, and the serial port will not send or echo data. This is despite me hearing the "device connected" jingle.

**Set up (pleas

[2019-09-23 11:28] pigrew commented on #179
I have been noticing this issue (or similar), too, using USBTMC.

Does the USBD queue need to be cleared when queueing a reset event? What if transfers were queued, reset received, transfers sent, then core reset happens?

[2019-09-23 11:50] pigrew commented on #173
I've also been trying to watch YouTube videos about it....

The proper solution would be to add real memory barrier instructions (which include compiler barriers). Adding the compiler barrier as I suggested is a half-solution which will work on in-order single-processor machines (I think that's the requirement...).

The proper way would be to use C11 which has the proper synchronization intrinsics

[2019-09-24 05:32] hathach commented on #173
ARM mcu has native instruction support
http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.faqs/ka14041.html https://developer.arm.com/docs/100941/latest/barriers

I haven't read these docs yet, maybe it can also be implemented as mcu specific and fall back to compiler if not supported. Not sure though, will spend more time to study this later on. I really want to keep this as simple and p

[2019-09-24 05:44] pigrew commented on #173
I added the ISB and DSB instructions after disabling interrupts in the ST FSDEV driver (as that's where we are currently putting architecture-specific things).

For coding simplicity in the no-os case, adding ISA memory barriers to the disable interrupts function, and then disabling interrupts when dealing with variables accessed from interrupts is enough to be "correct" (but it would be slower).

[2019-09-25 08:26] hathach commented on #173
LTO is used more and more often i.e example of this project and circuipython repo, eventually when it is more stable, it will be as standard as other optimization option. I wouldn't want to rule out LTO at all.

C11 sync is nice, but it will force a lot of project to switch/upgrade toolchain. I don't feel it is absolute must and the benefit is worth the cost.

Right now, I don't have enough inform

[2019-09-25 15:04] pigrew commented on #173
The `__sync_synchronize()` primitive was added in GCC 4.1 (year of 2006). I propose we add a define in the compiler headers to let us use this (`#define MEMBAR() do{__sync_synchronize();}while(0)`).  This is the basic, "full memory barrier". It'll reduce performance slightly (but not as much as disabling interrupts).  We are not supporting any compilers other than GCC, so may be a reasonable appro

[2019-09-25 16:17] hathach commented on #173
Thanks again, your suggestion is very useful and helpful. But I really need to update/upgrade my knowledge and have a decent picture to know what to do. To be honest, membar is new to me. I haven't run into any issue with it previously.

Note: I don't rule out other compiler than gcc either :D. In general, I don't want to impose any specific limitation rather than the current C99, which allow decl

[2019-09-25 16:32] pigrew commented on #173
Alright. I also noticed a bit of stupidity on my part. The disable interrupts CMSIS function already creates a memory barrier (at least on M0 processors).

However, the enable_interrupts doesn't create a barrier. I seem to not understand the topic either.

Enable_interrupt writes to a volatile register, but I think that the compiler is allowed to rearrange loads/stores across a volatiles (as long

[2019-09-26 03:40] CollinCunningham opened #182 "Unable to delete files via iOS 13"
Hey @hathach - We ran into an issue using CircuitPython 5.0.0-alpha.4 with iOS & iPadOS 13. Limor mentioned this would be the best way to bring it to your attention.

**Describe the bug**
Unable to delete or overwrite files on Circuit Playground Express running CircuitPython 5.0.0-alpha.4. This functionality works with CircuitPython 4.1.0.

**Set up (please complete the following information):**

[2019-09-26 03:51] hathach commented on #182
thanks @CollinCunningham it is as details as it can go, I will order an lighting-to-usb adapter to test with.

[2019-09-26 14:57] dhalbert commented on #170
To confirm this is how to represent an 8-bit unsigned value >127, here's an HID descriptor from a commercial gamepad controller (PDP one-handed controller, with one joystick and two buttons):
[code]

[2019-09-26 15:58] dhalbert opened #183 "HID Gamepad stopped working between versions of TinyUSB"
[This was originally reported internally, but I'm writing it up here, and also now including Beagle traces for help in debugging.]

In trying support a particular gamepad in CircuitPython, we have an example of a gamepad that worked at tinyusb commit f8081536, but that is not working with tinyusb 5804e56e. This corresponds to the versions of tinyusb used by https://github.com/adafruit/circuitpytho

[2019-09-26 17:04] hathach commented on #183
thanks Dan for lots of detail :) I did write this down on my notebook, will fix it asap :)

[2019-09-27 03:04] cr1901 opened #184 "TinyUSB devices will not enumerate with 8-byte max packet size."
**Describe the bug**
While working on the MSP430 driver, I noticed that tinyusb would get into a state where the host would start the Status Phase of a Control Read _before_ tinyusb was done sending the packet of the data phase. This only happens during a Get Device Descriptor request immediately after a device is plugged in (or the firmware starts).

Page 39 (PDF page 67) of the USB 2.0 spec stat

[2019-09-27 04:31] pigrew commented on #184
I don't have this setup to test at the moment, but could you try my ZLP pull request #149 (perhaps merge it into your branch... not sure) ? I don't know if it'll help, but there is a good chance. On the other hand, I wrote the code when I didn't know at all what I was doing with respect to USB.

My interpretation is that the host must request 8 bytes (wLength=8) before it knows that the device sup

[2019-09-27 04:58] cr1901 opened #185 "CDC echo demo of cdc_msc may truncate characters"
**Describe the bug**
Last bug report for now, I swear :).

The CDC portion of the `cdc_msc` demo does not appear to like being given more than a packet's worth of data.

**Set up (please complete the following information):**
 - OS: Windows 7
 - Board: stm32f407disco
 - Firmware Code: examples/device/cdc_msc

**To Reproduce**
Steps to reproduce the behavior:
1. Compile and flash the cdc_msc demo o

[2019-09-27 08:43] hathach commented on #185
Np, more issues, more fun :smile:

Thank you very much, the example demo isn't really well tested so far, only to demonstrate how API should be used. I guess it got to be changed now :D .

[2019-09-27 09:35] hathach commented on #182
@CollinCunningham I just tested CPX with current master, its seems to work with my IPX on iOS 13.1 . I could be able to remove files from CPX

[2019-09-27 15:21] pigrew commented on #129
I'm closing this issue, as we've merged the patch. Yay. (PR #160 )

[2019-09-27 15:21] #129 closed

[2019-09-27 16:26] pigrew commented on #184
I found a silly typo, will create PR soon.

The USB descriptors use `CFG_TUD_ENDOINT0_SIZE`, but the USBD core uses `CFG_TUD_ENDPOINT0_SIZE`... not if this will fix everything or not.

[2019-09-27 16:46] cr1901 commented on #184
I'll cherry pick this into [my branch](https://github.com/cr1901/tinyusb/tree/ctl-8b) and see what happens. Without the extra patches in that branch, I don't think your PR will be sufficient to fix the issue.

[2019-09-27 16:48] pigrew commented on #184
@cr1901 With the new PR #186 , I am able to use USBTMC with 8 byte EP0 on STM32F0.... even without the ZLP patch.

Anyway, I have to go eat now, so I can't do much more testing.

[2019-09-28 00:45] cr1901 commented on #184
@pigrew Your patch works for stm32f4disco as well. I have no idea how/why, but it works. And I'm not sure I want to know right now :P.

I believe this paragraph still applies:

However, with your patch, tinyusb recovers after reset; without this patch, tinyusb remains in a mismatched state w/ the host (i.e. IN EP 0 is never given a new buffer).

I've attached a screenshot and [trace](https://githu

[2019-09-28 02:13] cr1901 commented on #184
FWIW, my [changes](https://github.com/cr1901/tinyusb/commit/aef7661ea8a321de28ed6dd09e2bad82c41a927b#diff-e546d6e4c4e6a5c18b285fbe07514f89) to usbd.c fix the OUT-DATA-NAKs. I'm considering removing the `#if CFG_TUD_ENDPOINT0_SIZE < 32` to make things cleaner at the cost of a few extra insns on each Get Descriptor request regardless of max packet size.

[2019-09-28 03:12] pigrew commented on #184
I need to better read the spec. Based on your (and my) logs, the host (Win10 in my case) requests wLength=0x40 (64 bytes) of the device descriptor.

Since there should be more data left in `EP0/IN`, It seems weird to me that the host switches to `EP0/OUT`.

After a CONTROL/IN (like this get descriptor) The STM32F0 manual suggests setting EP0/OUT to STALL prior to the last data packet. If this were

[2019-09-28 03:28] cr1901 commented on #184
The host doesn't know the max packet size. So the host negotiates a transfer in the Setup phase for the maximum `bMaxPacketSize` that a device can possibly support (64). A USB xfer terminates if the device sends a short packet, which is the case for `bMaxPacketSize` of 8, 16, and 32, or _exactly_ the amount of data negotiated between host and device, which is 64.

So it makes sense to me that the

[2019-09-28 03:41] pigrew commented on #184
For 8 or 16 packet sizes, with a 64 byte transfer requested (Win10 with a 8-byte packet device), the host will think it's a short packet and send it to its stack after receiving the 8-byte data1. The stack could then analyze the data in the first 8 bytes, set the packet size properly, and then add requests for more of the data until an actual short packet is received. However, I don't know if the

[2019-09-28 04:18] pigrew commented on #184
Here's a log of a RS232 ->USB converter which is full-speed with 8-byte EP0 packets. It uses TUSB3410 chip.

1. Windows requests the device descriptor (packet 33)
2. 8-byte IN reply (packets 68-70)
3. Host sends 4 CONTROL OUT DATA (all NAKed by device)
4. Windows sends reset.

I don't know why in your log it had so many ZLP and mine only has 4. Perhaps it's a Windows 7 vs Windows 10 thing.

(The l

[2019-09-28 04:39] cr1901 commented on #184
Yes, that is what I was trying to get at in my previous message :P.

Hmmm, interesting. And I'm not sure :(...

[2019-09-28 14:35] pigrew commented on #184
I've tried sending STALL in response to the "unexpected" STATUS OUT packet, and Windows 7 really doesn't like it.

If Windows 7 sees a stall on the STATUS OUT, it will abort the enumeration (after retrying three times). So, because of Win7 compatibility, we cannot STALL the spurious status packet:

[stall_status.zip](https://github.com/hathach/tinyusb/files/3665561/stall_status.zip)

[I found a li

[2019-09-28 19:59] cr1901 commented on #184
No, I'm not working on an implementation. I have found this patch to be sufficient for my needs:

[code]

Your proposal probably works fine, but I think it's adds a lot of complexity. I would rather you try breaking my patch before we resort to fun stuff like "unstall has to be in the ISR".

I still interpret the spec as "After connecting a device _and/or_ power on, the host and device implicitly

[2019-09-29 04:38] pigrew commented on #184
I started to write my solution (pushed to https://github.com/pigrew/tinyusb/commits/ctrl_test_2 , which also contains my ZLP patch).  I don't like this particular patch much, but designing a better patch is proving difficult. I quickly tested that it does function with the hid_composite demo, enumerating almost instantly on Win10, and within 1.5 seconds on Win7.

My ZLP patch was needed in order f

[2019-09-29 15:45] pigrew opened #187 "Repository line endings normalization"
While editing some files via the GitHub interface, I realized that this repository has inconsistent line endings.

For example, `src/host/usbh.h` has LF terminators while `src/device/usbd.c` has CRLF.

Do we want to make a big commit to normalize things to having LF in the repository?

I also suggest creating a `.gitattributes` file marking text files as text. Using LF seems to be what git is desi

[2019-09-29 17:38] cr1901 commented on #184
I don't know.

It's possible, I haven't seen such devices in practice, but point taken.

Indeed this is a problem. I can move the  `size_known` bit set to after a successful data phase.

One thing both my synopsys and msp430 driver assume on entry to `dcd_edpt_xfer` is that the endpoint is not actively sending or receiving upon entry. This varies on hardware, but typically you set a `NAK` bit and

[2019-09-30 03:58] hathach commented on #129
Thanks for your amazing works :)

[2019-09-30 18:35] pigrew opened #188 "Where is EP0 unstalled?"
Assume that a bad control request was made, and EP0 is stalled (src/usbd_control.c:146).

Where in the code should the EP be unstalled?

My working assumption is that it should be unstalled very soon after a SETUP packet is received?

[2019-09-30 19:39] pigrew commented on #184
Reading the USB spec paragraph you have oft quoted, "The host will read the first eight bytes of the device descriptor." Based on that, what Windows does is not compliant. Following the standard, wLength should be set to 8 bytes, but it is actually setting it to 64 bytes. We are trying to put a bandaid around the bad behavior of Windows. Though, it's certainly possible that other operating systems

[2019-10-01 02:17] hathach commented on #188
There is none, EP0 doesnt need to be unstalled. USB says that whenever the new setup packet is received the hardware should clear the stalled bit of control ep0.

![image](https://user-images.githubusercontent.com/249515/65929434-4a6f1a80-e42c-11e9-8204-972f6b382dbe.png)

[2019-10-01 02:32] hathach commented on #187
thanks @pigrew If you have free time, please do it. Originally, I was using windows PC when developing the stack and then decide that Linux suite me better and make the switch. Host stack is currently in the proof of concept only, it need quite a bit of rework to keep up with device stack :)

[2019-10-01 02:54] pigrew commented on #188
Thanks. I was seeing some weird behavior on ST FSDEV the other day. I'll need to debug it further. Worst case, I'll have to manually unstall it in the ISR when it receives a SETUP packet. I'll test it in the next few days.

So, I'm I'm understanding correctly, Best case is that it is unstalled by hardware. Worst case the DCD module should unstall it upon receiving a SETUP.

[2019-10-01 03:06] hathach opened #189 "CDC speed test"
**Is your feature request related to a problem? Please describe.**
Test the throughput of sending and receiving speed of CDC interface. This could help to optimize and enhance the current cdc driver.

[2019-10-01 03:12] hathach commented on #188
It is indeed DCD's reposibility to unstall both EP0 IN and OUT when receiving a new setup packet. Some IP controller do that automatically by the hardware, other require dcd to clear a bit. In general tinyUSB stack won't attempt to unstall control endpoint. It is DCD work :)

[2019-10-01 03:14] pigrew commented on #188
Thanks, this was the main purpose of #181 ... I'll double check that it's correct, and probably leave the "expect 0-length packet" bit always disabled for the time being (let the stack handle that).

The FSDEV has a few error-checking features that seem optional, and would interact badly with how Windows does device enumeration.

[2019-10-01 03:17] #188 closed

[2019-10-01 03:27] CollinCunningham commented on #182
You're able to delete files from CPX using the Files app?  Strange.

[2019-10-01 04:03] hathach commented on #182
I will do more tests later on, It should be the same for iPhone 10 and 11. It is mostly the driver which is the same on both phones. Maybe I get lucky, will get you update with further testing.

[2019-10-01 07:23] hathach commented on #183
@dhalbert hmm I notice REPL print out the incorrect report length error, which is the reason that prevent hid to send report to host

[code]

The issue is raised here https://github.com/adafruit/circuitpython/blob/master/shared-module/usb_hid/Device.c#L45

A quick hid descriptor dump show the different in report size for gamepad between working and non-working uf2.
- The working uf2 has exactly 3

[2019-10-01 07:38] hathach commented on #161
Thank you very much for another great analysiz. Yeah, I agree `volatile` should be added for busy and stalled map variables. There is chance that compiler could cache this value. That should probably sufficient enough for now. I am actually tentative to use `volatile` here when adding this variable, but somehow decide not include it :)

[2019-10-01 08:16] pigrew commented on #161
Yeah, volatile helps some. However, the race condition still exists. Disabling interrupts (or maybe using one byte per endpoint) should fix it. The race condition against the ISR is the more difficult case. Mutex is bad since it could be held when the interrupt is triggered.

[2019-10-01 10:00] hathach commented on #161
There is no code in isr context that access this variable. All stack code is deferred. In case of preempted rtos, the conflict is not critical at all, busy() API will return true in the next invocation

[2019-10-01 12:13] pigrew commented on #161
Yes, I was wrong when I said interrupt.

However, I think the issue I described is still a problem in a preemptive OS because setting a bit is not an atomic operation. If two tasks try to transmit simultaneously, it's possible only one busy bit will be set (when both should be set).

Because the variable is not written from an interrupt, guarding the variable with a mutex would fix the race condit

[2019-10-01 12:51] dhalbert commented on #183
@hathach Thank you - they are supposed to be the same descriptor, and I thought I had checked tha multiple times. I'll get back to you as soon as possible.

[2019-10-01 13:02] dhalbert commented on #183
@hathach I just downloaded the gamepad-no-work.uf2.zip from the post above, and put it on a CPX again.

Are you using the .uf2 from above, or some other one (e.g., the tip of master?) This is a special one that has been changed to match the "working" one. It's not commited to `master` right now.

The gamepad descriptor is:
[code]
which is
[code]

[2019-10-01 13:13] dhalbert commented on #183
Also I am not getting a descriptor length mismatch, but a "USB Busy" error. So I think you are using a different "non-working" .uf2.

[2019-10-01 13:50] hathach commented on #161
Right, it is indeed an problematic issue if only 1 bit is set while there are 2 transferred. Hmm, introducing mutex is too much, I don't really like that, maybe having each endpoint has its own bool, that is 16 bytes more of sram, which is still decent enough I guess. Thank you for pointing this out, I will review usbd to see if there is better way to do this.

[2019-10-01 14:48] pigrew commented on #161
I've not yet tried out the RTOS port (is anyone using it?), but I like the concept of the stack being thread-safe, and want to use it in that mode in the future.

For the No-OS case, this bug not an issue for `ep_busy_map` now that it is volatile.

On ARM M0, FreeRTOS implements atomic instructions by disabling interrupts. I could be wrong, but my guess is that a mutex is more lightweight than dis

[2019-10-01 14:52] hathach commented on #161
This https://github.com/adafruit/Adafruit_nRF52_Arduino use freeRTOS. The stock example also has freeRTOS version of the cdc msc hid, but it is lacking behind now. I will update its build later on. For ep busy map, there is no need to introduce more OSAL API, I will move endpoint state to its own uint8_t byte.

[2019-10-01 14:55] pigrew commented on #161
Although less commonly used, the ep_stall_state will also need to be expanded.

[2019-10-01 15:25] hathach commented on #183
@dhalbert I think upgrading tinyusb to current tip of master will fix this issue, especially after this https://github.com/hathach/tinyusb/pull/192

The issue is likely #161 issue. I make a quick hack to modify xac_gamepad.py to increase the report size to 6, and it seems to work :)

[2019-10-01 20:03] dhalbert commented on #183
Indeed, this is fixed by #161. I updated CircuitPython's version of tinyusb to the latest master, and it works.

[2019-10-01 20:03] #183 closed

[2019-10-02 02:37] hathach commented on #183
Phew, I am glad it works :)

[2019-10-02 03:37] #161 closed

[2019-10-02 18:17] CollinCunningham commented on #182
Just for reference, pasting this from our email thread

![image](https://user-images.githubusercontent.com/1213906/66070305-0f014880-e51f-11e9-8ffa-e5c646606855.png)

[...]

[2019-10-02 18:54] hathach commented on #182
Another person also confirms that removing those hidden files help as well. It probably has something to do with the filesystem contents as well.

Here is the disk image of the cpx before removing hidden files for reproduction https://www.dropbox.com/s/t3rdc0qchxsqtxb/CIRCUITPY.dmg?dl=0

[2019-10-03 03:57] cr1901 commented on #184
@pigrew I had to merge #149 into the msp430 fork. The HID composite demo won't work without it for various reasons.

As I just found out, my proposed solution here interacts badly with your PR #149; as soon as the initial packet is sent, your ZLP-aware code (correctly!) tries to send a ZLP, which is unexpected from the host POV.

In the case of the initial setup packet, no ZLP should be sent. As l

[2019-10-03 04:26] pigrew commented on #184
Yes, with a well-manored host, no ZLP should be sent. However, the goal is to appease the MS Windows and make it enumerate faster. The only way to be both (nearly) standards-compliant and appease Windows is to preemptively send the ZLP (unless there is a solution I'm missing).

It's good to hear that #149 is being helpful in your MSP430 efforts.

[2019-10-03 06:38] hathach commented on #126
tried but couldn't get stm32L476 discovery board running with USB in crystal less mode. Further study is needed.

[2019-10-03 07:05] pigrew commented on #126
I see a note in the manual about having to enable power gating for USB? Post your code (though I don't have a L476...)?

therefore are not available. The isolation must be removed before using the USB OTG
peripheral, by setting the USV bit in the PWR_CR2 register, once the VDDUSB supply is
present.

[2019-10-03 07:35] hathach commented on #182
@CollinCunningham interesting note that copying all files from the dmg file to SD card. And yeah, iOS couldn't removes file on SD card. I guess it is possibly iOS bug ?!?!

[2019-10-03 07:40] hathach commented on #126
Thanks for the note, I have struggled with L4 for sometime. Got to move on with other issues (too many already :D) . Will come back to test this later on :)

[2019-10-03 13:07] cr1901 commented on #71
Thought while it's on my mind.

It's probably difficult to make this portable, but I think a UF2 example should include a fake "bootloader" that prints out the address + binary contents, and then jumps to a fake application in another part of flash that does nothing. There would be a linker script for bootloader and application.

This would require flash write/erase code, changing the vector table

[2019-10-03 16:35] CollinCunningham commented on #182
@hathach Possible the `.metadata_never_index` file is incompatible with iOS?

[2019-10-04 09:18] hathach commented on #182
@CollinCunningham after tons of trial and erorrs, I finally could determine the root causes of the issue. The present of file `.Trashes` will prevent the iOS from doing any delete operation. This file present is kind of weird, it should be a **Directory** not file. I have no idea how it appear in the CPX in the first place, but not creating it will help

![image](https://user-images.githubusercont

[2019-10-04 13:13] dhalbert commented on #182
That is a CircuitPython bug and I've filed an issue about that: https://github.com/adafruit/circuitpython/issues/2199. It's easy to fix.

[2019-10-04 13:25] dhalbert commented on #182
OK, it's more complicated. We deliberately made `.Trashes` a file, not a directory, because for MacOS, that prevents a "trash can" from being created on the filesystem with deleted files. It works to do that on MacOS, but apparently iOS is not acting properly. So we could report this to Apple.

[2019-10-04 14:15] hathach commented on #182
Thanks @dhalbert for clear thing up. It makes more sense now :)

[2019-10-04 14:25] hathach opened #196 "Port NXP LPC15xx"
**Description**
Port LPCXpresso1549, it has the same usb controller as lpc11uxx and lpc13xx

[2019-10-04 14:26] hathach commented on #196
Device connect and able to receive setup packet and ACK. However, setup packet is all-zeroes, something is not right with USB DMA SRAM.

[2019-10-07 14:52] hathach commented on #182
since it isn't usb issues. @CollinCunningham @dhalbert Let's me know if we could now close this issue here.

[2019-10-07 14:54] hierophect opened #197 "Endpoint count causes failure on F412 and similar boards"
**Describe the bug**
On the F412 or any other ST board with 6 FS endpoints which is using all of them, the following assert fails:

[code]

A debugger reveals that epnum is evaluating to 6, potentially because it includes endpoint 0, or possibly due to a bug. EP_MAX is also 6, as it's based off the raw endpoint macro for the chip, and thus the comparison fails. 5 endpoints, excluding control, are

[2019-10-07 15:45] hathach commented on #197
@hierophect It is actually a bug that allow the endpoint 6 to be opened and is fixed recently by https://github.com/hathach/tinyusb/pull/158
STM32f412 only has 6 pairs of endpoint including endpoint 0, which mean we can only go up to endpoint number 5 at max. which usb classes that is used by the cpython in this case cdc + msc + hid + ?

![image](https://user-images.githubusercontent.com/249515/66

[2019-10-07 15:55] hierophect commented on #197
Currently the Circuitpython USB descriptor only outlines 5 endpoint pairs; cdc_iad, cdc_interfaces, msc_interfaces, hid_interfaces, and audio_control_interface. All share their endpoint address except certain cases for the SAMD21, which are of course excluded on the STM32. So I don't think we should be hitting this ceiling.

Does epnum specifically exclude the control endpoint? My debugger shows i

[2019-10-07 15:58] hathach commented on #197
@hierophect EP_MAX=6 is including endpoint0, so we can only have up to 5 pairs of endpoints from 1 to 5 at max. So the code is correct, if your debugger show epnum is 6, then it probably overflow the number of supported endpoint on stm32f412

[2019-10-07 16:43] hierophect commented on #197
Did some internal investigation, was due to extra endpoints in the MIDI descriptor. Thanks for helping clarify, @hathach, and for fixing the excess endpoints bug.

[2019-10-07 16:43] #197 closed

[2019-10-07 18:32] CollinCunningham commented on #182
Cool - we'll relay the bug to apple. Thanks all for the detective work!

[2019-10-07 18:32] #182 closed

[2019-10-08 02:41] hathach opened #198 "Port STM32 Highspeed core"
**Description**
It is more likely a test than port, probably adjusting base address etc to get the OTG HS core work with the stack. Need to find an dev kit that support OTG HS connection.

board with OTG HS connection
- [x] STM32F723E Discovery with builtin HS PHY
- [x] STM32F769I Discovery require external PHY for OTG HS
- [x] STM32H743Eval with external PHY for OTG HS

[2019-10-09 10:09] hathach commented on #198
2 STM32F7 board with OTG HS connection are on order
- STM32F723E Discovery with builtin HS PHY
- STM32F769I Discovery require external PHY for OTG HS

[2019-10-11 05:18] hathach opened #200 "Simple debug log via uart/swo to help porting new mcu/board"

[2019-10-21 16:34] dhalbert opened #201 "how is IRQ priority level for USB chosen?"
@hierophect and I are trying to figure out where the IRQ priority level for the USB interrupt handlers is set, and I'm not seeing that. Could you describe where that is? He's having trouble on the STM32F4 with USB getting starved out when another peripheral's interrupts are set at level 2. There may be a bug with code for that peripheral causing the starving, but we don't really know.

In https://

[2019-10-21 17:28] hierophect commented on #201
Specifically, the only call to I see to NVIC in the stm32 is this mention in dcd_synopsys.c:

[code]

This simply enables the interrupt, but does not specify priority. I assume this will end up setting it to the default priority of 0. Should this have a default priority that should then be overridden in tick.c?

[2019-10-22 03:55] hathach commented on #201
@dhalbert tinyusb won't try to change the IRQ priority at all since it varies from mcu to mcu from application to application. This should be done by application, best to be somewhere near the `tusb_init()`

[2019-10-23 01:26] ehughes commented on #135
Has this been verified as a hardware issue or a real bug?   I am in the process of  integrating the tinyusb code (w/ midi)  into an LPC43xx project and was curious if this was still an issue.

[2019-10-23 02:27] cr1901 commented on #135
@ehughes I suspect it's a real bug, but I'm waiting for a number of PRs (see PR list) that fix edge cases in USB packet handling to be resolved before I delve more deeply. We are all unfortunately busy atm it seems :(.

I _am_ able to get MIDI in to work, but not without _initial_ connection problems as portrayed above.

[2019-10-24 06:17] #200 closed

[2019-10-24 17:14] hierophect opened #204 "DHSE_VALUE=8000000 override in STM32 Makefiles"
**Here is my question**
Is there a particular reason why this override of the xxx_hal_conf.h file exists in the Makefile Cflags of all the BSP examples? If a user isn't aware of its use, or assumes it is overridden by the HAL instead of the other way around, it will quietly cause the frequency to be wrong across all registers and HAL functions.

I personally skimmed over it in my initial installat

[2019-10-25 03:47] hathach commented on #204
I have no particular reason, we could use the value in `_hal_conf.h` if it is how STM32 user typically put that. @cr1901 you know this better than me, what do you think ?

[2019-10-25 05:56] cr1901 commented on #204
I think it went like this...

IIRC, `HSE_VALUE` is required so `SystemCoreClockUpdate` or similar works on STM32, regardless of whether one is using the HAL or not. Therefore, when I did the first STM32 port, I didn't use the HAL, but I defined `HSE_VALUE` anyway _just so the define was there for CMSIS_. At some point @hathach switched the STM32 examples to use parts of the HAL- fair enough! And I

[2019-10-25 09:44] hathach commented on #204
Yeah, I am fine with either one as well. There is little difference, @hierophect If you want to change the example to use `_hal_conf.h` would you mind submit an PR for it. You probably need to do that for all the stm32 board though to stay consistent.

[2019-10-25 10:15] hathach commented on #204
hmm, I changed my mind, I think I prefer the current way to have -DHSE_VALUE in the board.mk since we will modify it when doing a board portting anyway. I rarely open the `hal_conf.h` to change it. This is just board & example, it is not part of the tinyusb. Application project e.g CPy are free to do it in either way, we better spend energy for other pending issues (which are quite a lot now :( )

[2019-10-25 10:19] hathach commented on #201
@dhalbert @hierophect Let's me know if you still have question regarding this.

[2019-10-25 12:06] dhalbert commented on #204
Then maybe the current setting just needs to be documented in the code so if anyone copies it they know the consequences.

[2019-10-25 12:31] hathach commented on #204
@dhalbert that is good idea, though there is no documentation now for any specific bsp rather than the code and board.mk itself. Board and example are merely the way for user to run test out tinyusb API, I have no intentions to make it as template or standard for other projects.

Though I switch my mind again, I may change it to use hal_conf.h for the pure reason that other IDE than makefile doesn

[2019-10-28 15:57] hathach opened #205 "Class code driver conflict application specific 0xfe between USBTMC and Runtime DFU"

[2019-10-28 16:03] pigrew commented on #205
Yep, I remember us talking about this a while ago.

I believe the solution is to add subclass definitions to the callback table. (Or to create a new functions something like `class_suppors_intf(class,subclass)` which would be iterated through, which would allow for a class to support multiple subclasses...)

We also talked about moving the callback tables to the class header files instead of in `u

[2019-10-28 16:19] hathach commented on #205
@pigrew yeah, I just become a real issue after Runtime DFU PR is merged #202 which also use Application Specific class 0xFE. I am on multiple fronts now, will definitely refactor class driver to fix this issue when possible :)

[2019-10-29 02:01] #201 closed

[2019-11-01 03:04] xobs opened #207 "Order of irq handling matters?"
It appears as though the order that irq events are handled matters, and this order is undocumented.

I'm porting tinyusb to a new platform, and right now it's running slowly. This architecture can handle IN and OUT endpoints at the same time, and as a result its possible to handle both inside the isr (provided it's running slowly enough).

As a result, I get odd behavior in examples such as the MS

[2019-11-01 03:12] xobs commented on #207
More information:

Here's a gdb trace of the last 8 queued transfer sizes and endpoints, along with the order in which `xfer_complete()` was called:

[code]

[2019-11-01 03:13] xobs commented on #207
Additionally, here is a trace:

![image](https://user-images.githubusercontent.com/238325/67999767-83531700-fc98-11e9-8faf-6a640933e65d.png)

The last thing tinyusb tried to do was transfer `499` bytes.

[2019-11-01 03:39] hathach commented on #207
The order of `dcd_xfer_complete` is always important and it should respect the order of actual packet transferred in the bus. Host won't send the next scsi command (2) before it receive the status of current command (1). Why would your port call the `dcd_xfer_complete` for the (2) before (1)  while the actual event on bus is (1) then (2).

[2019-11-01 03:44] xobs commented on #207
The IRQ is shared by both `IN` and `OUT` transfers, so in the ISR it first polls https://rm.fomu.im/usb.html#usb-out-ev-pending to see if there's an `OUT` event pending, and then it polls https://rm.fomu.im/usb.html#usb-in-ev-pending to see if there's an `IN` event.  In this case, the `OUT` event is short enough that both bits are set when the ISR runs, so it doesn't know which came first.

Perhap

[2019-11-01 03:56] pigrew commented on #207
This sounds like how STM32 FSDEV operates. In it, all of the EP have separate single-packet buffers. There is no way to know which packet was transmitted first across endpoints, through there is some extra logic for EP0 relating to setup packets. There is no way to know if a IN or OUT packet came first. The class driver must be written to know in what order to read/write the endpoints. I've notice

[2019-11-01 04:12] hathach commented on #207
Indeed, it could be an issue if ISR isn't running fast enough. This is particular with MSC class driver, at the end of data phase, it will dcd_xfer an status phase (13 bytes), then dcd_xfer the next command phase right away.
https://github.com/hathach/tinyusb/blob/master/src/class/msc/msc_device.c#L554
https://github.com/hathach/tinyusb/blob/master/src/class/msc/msc_device.c#L571

Yeah, IRQ may no

[2019-11-01 04:22] xobs commented on #207
Thanks for the feedback!  I added a register to indicate which type of packet should be handled next, and that seems to solve the problem with the current setup: https://rm.fomu.im/usb.html#usb-next-ev

[2019-11-01 04:26] hathach commented on #207
@xobs wow, you are designing an FGPA hardware, I was thinking you are porting the stack to an mcu :smile:

[2019-11-01 04:33] xobs commented on #207
Turns out tinyusb is a great way to find all sorts of implementation bugs.  But it's always a question of where the bug lies -- is it in the FPGA hardware, the DCD driver, or in tinyusb?  This is the first issue I've found in tinyusb so far, and it actually ended up being a hardware issue!

This is also a riscv port, which turned out to not be the difficult part at all! https://github.com/xobs/tin

[2019-11-01 04:44] hathach commented on #207
@xobs this is not really entirely hardware issue, tinyusb shouldn't rely on ISR running fast enough to work. Like @pigrew mentioned, most of the DCD only has register indicating which endpoint is complete, and not their order of completion. If the ISR function latency is long enough ( 1ms for Fullspeed, 125us for Highspeed), there is no way to tell the order. TinyUSB aims to support all ports, so

[2019-11-01 04:46] xobs commented on #207
This is running on a Vexriscv CPU in an ICE40UP5k inside a Fomu.  I'm using Fomu EVT so I can attach a debugger to the softcore to debug the CPU -- normally we run the debugger over USB, but that doesn't work so well when the USB core isn't stable!

[2019-11-01 04:50] hathach commented on #207
sound like It needs a bit of learning curve to work on these platforms :D. Thanks for using tinyUSB, I am glad to hear you didn't find that many bugs from the project lol :laughing:

[2019-11-01 11:47] hathach commented on #207
@xobs Let's give this a try to see if this patch #208  fixes your issue

[2019-11-01 12:01] hathach opened #209 "STM32 Synopsis doesn't seems to detect disconnection event"
**Describe the bug**
A clear and concise description of what the bug is.

**Set up (please complete the following information):**
 - OS: Ubuntu 18.04
 - Board: stm32f407disco, stm32f411disco, stm32f767nucleo
 - Firmware Code: examples/device/cdc_msc

**To Reproduce**
Steps to reproduce the behavior:
1. Run example without USB: led blink fast indicate no connection
2. Plug USB cable, device enumera

[2019-11-01 12:13] hathach commented on #209
on stm32f767nucleo host couldn't communicate with stm32 after reconnection.

![image](https://user-images.githubusercontent.com/249515/68023876-1f057700-fcdb-11e9-8588-2dd1299655a6.png)

[2019-11-01 12:15] hathach commented on #209
on stm32f411disco, control endpoint works after reconnection, but non-control like msc endpoint seems to have troubles :worried:

![image](https://user-images.githubusercontent.com/249515/68024187-f0d46700-fcdb-11e9-81bc-142a838cd724.png)

[2019-11-02 18:36] cr1901 commented on #209
Yes, the Synopsys driver doesn't properly detect disconnection events because I never added the code for that :P.

I'm a bit overwhelmed at the moment, but this is on my TODO list...

[2019-11-03 06:51] ladyada commented on #91
tagging @xobs fyi

[2019-11-03 11:08] hathach opened #210 "Port SAMG55"
**Porting layer**
 - [x] Device Controller Driver (DCD)
 - [ ] Host Controller Driver (HCD)
 - [x] Board Supported Package (BSP)
 - [ ] OS Abstraction Layer (OSAL)

**Description**
A clear and concise description of what you want to happen.

[2019-11-03 16:27] tannewt commented on #119
I see Device and BSP are checked off. Is this checked in? I'd love to start getting CircuitPython going on the iMX devices.

[2019-11-03 16:56] hathach commented on #119
@tannewt ah not yet, I haven't started any works with iMX devices just yet. The checklist is kind of of work to do, which admittedly is very confusing. It it part of porting template, I should remove other though.

[2019-11-04 05:15] rajivr opened #211 "Provide compilation option not to inline `dcd_*` callback functions"
**Is your feature request related to a problem? Please describe.**

Currently `dcd_*` callback functions are inlined. This causes the corresponding linker symbols not to be generated.

This means we _cannot_ call them from Rust.

**Describe the solution you'd like**

It would be good if we can get a compilation option so the callback functions are not inlined.

**Describe alternatives you've consi

[2019-11-04 07:24] hathach commented on #211
besides `dcd_` inline helper, there is also class inline helper as well. Does Rust need all inline API to be non-inline as well ? I try to see what the best way to address this.

[2019-11-04 10:56] rajivr commented on #211
I've not yet gotten to USB class functions, so I am not sure if it would be needed. Right now I am working on calling tinyusb callback functions from our Rust based USB interrupt handler.

[2019-11-04 11:50] hathach commented on #211
TinyUSB has many `static inline` API for convenience, most of them are just helper to clean up arguments eg to pass 0 for multiple cdc instance since most application will only 1 CDC port..
https://github.com/hathach/tinyusb/blob/master/src/class/cdc/cdc_device.h#L74

It is possible to just move these inline dcd to normal function as your patch, but It is a bit troublesome if we have to make them

[2019-11-04 12:18] rajivr commented on #211
I agree. I don't think we'll need to change the signature for all functions.

The only ones I am suspecting we might want to provide a compilation option for would be for the `dcd_*` APIs and Application APIs (`tud_cdc_*`) (BTW, I've not gotten to CDC APIs yet).

The reason for not using `dcd_event_handler(...)` directly is because I wanted to easily compare our implementation with existing interr

[2019-11-04 15:46] hathach commented on #211
all classes API cdc/midi/hid are inline, since they are all supported multiple instances (e.g dual cdc, dual hid etc ...), but that is easy enough, you could just support multiple instances and just their API

I will move those inline into `usbd.c` for now, we will see how thing will turn out when you porting the class API. These `dcd_event` API are mostly called in ISR context, but I guess anothe

[2019-11-04 16:34] #211 closed

[2019-11-04 16:41] pigrew commented on #198
The new $10 st-link mini v3 have a STM32F7 and would be a nice target platform, too.

[2019-11-04 17:10] hathach opened #213 "stm32f0 (fsdev) seems skip setup packet"
**Set up (please complete the following information):**
 - OS: Ubuntu 18.04
 - Board: stm32f072disco
 - Firmware Code: examples/device/cdc_msc

**Describe the bug**
found this issue while merging #149,

fsdev somehow miss a setup packet, it doesn't report the setup packet that it doesn't response to.
sometime it misses a setup packet, then completely non-response to that packet as following screen

[2019-11-04 17:33] hathach commented on #198
That is a very good tips, though I already bought those boards. It is still nice to get up with a known good board, running chip vendor stock example to verify hw work etc.. and I don't have much love with soldering as well :). I am sure others will find it useful.

[2019-11-09 09:48] arturo182 commented on #119
I'm looking into this right now.

[2019-11-09 13:03] hathach commented on #119
@arturo182 great, I am planning to work on this a bit next week as well. Let’s me know if you figure out something

[2019-11-10 17:58] arturo182 commented on #119
https://github.com/arturo182/tinyusb/tree/mimxrt10xx

I made the BSP for mimxrt1010-evk and a dcd for the rt10xx family, i only have the rt1010 evk so I can't test on the others, but I assume the whole family shares the peripheral, just the bigger ones have more instances.

Anyway, I tested and the HID composite example works, i press the button and my mouse moves and the keyboard sends "a", but t

[2019-11-10 18:15] hathach commented on #119
@arturo182 great news, though since nxp rt series use the the same usb ip known as ip3511. We should just modify the current dcd_lpc_ip3511 to get it running on the rt series as well.

[2019-11-10 19:18] arturo182 commented on #119
I considered it but wasn't sure how that would work with `CHIP_FAMILY` and it will end up quite a ifdef-heavy code, but if you want I can modify the code so it reuses the lpc.

[2019-11-11 02:39] hathach commented on #119
`CHIP_FAMILY` is just way to find dcd driver file, I will do a rename later to something like `DCD_DRIVER` or similar. The current ip3511 already supported lpc 11, 13, 15, 18, 43 chip, it is generalized enough. Adding mx RT wouldn't make it any worse. If you are not familiar with LPC chips, just all the #ifdef you needed, I will do an abstract work later on :)

[2019-11-11 05:20] hathach commented on #119
@arturo182 I just update/re-org/rename submodule lpc_driver to nxp_driver and added imx rt mcu driver https://github.com/hathach/nxp_driver/tree/master/sdk/devices . I hope this will help you out with the porting. Let's me know if you need any further helps with porting 1010 evk. I will also try to work with 1064/1060 evk on my end as well.

[2019-11-12 06:28] rajivr opened #216 "What does `_xact` stand for?"
In `usbd_control.c`, I noticed API with signature ending with `_xact`. I was wondering what `xact` stood for in tinyusb code base?

[2019-11-12 15:17] hathach commented on #216
it stands for transaction, `xfer` = multiple `xact`

[2019-11-12 15:17] #216 closed

[2019-11-13 02:27] rajivr commented on #216
As always, thanks for the quick reply. @hathach :-)

[2019-11-13 17:35] xobs commented on #207
With the addition of https://github.com/im-tomu/valentyusb/commit/2f240d9c8a5c9aa0adfe96799b7df47942f2c5c0 (and https://github.com/im-tomu/valentyusb/commit/d615069b45535b10464b7ade725de1aa9ab25e11 after doing some more thinking), I'm able to use the msc example without issue without #208, even if I'm running unoptimized debug code from extremely slow flash.

However, #208 seems like a good idea,

[2019-11-14 03:10] hathach commented on #207
@xobs thanks for your feedback. The unit test take more time to write than the actual code. The code changes is easy enough, but I take the chance to write unit test since those are nice to have. Plan to write more unit tests in the future when having time.

[2019-11-14 03:10] #207 closed

[2019-11-14 11:10] hathach commented on #216
I am happy to help :)

[2019-11-19 23:39] xobs opened #218 "eptri clears wrong endpoint"
At https://github.com/hathach/tinyusb/blob/master/src/portable/valentyusb/eptri/dcd_eptri.c#L418, opening an OUT endpoint will also clear any pending buffer for the IN endpoint.  The line should read:

[code]

[2019-11-20 03:52] hathach commented on #218
yeah, would you mind submit PR to fix this :)

[2019-11-21 10:33] hathach commented on #218
Fixed by #219

[2019-11-21 10:33] #218 closed

[2019-11-22 08:07] hathach commented on #119
@arturo182 I push an PR #220, that the the complete port for iMR RT1064 tested on 1064 EVK board. I haven't looked at other chip family. Hopefully that doesn't have too much of difference, I added the list of board port that I have to the checklist, the only port that I am missing is rt1010evk due to the US export restriction. Hopefully you could find that PR helpful.

[2019-11-22 11:27] arturo182 commented on #119
I have a 1010 evk so can verify it for you

[2019-11-22 11:37] hathach commented on #119
Thank you very much. Words of warnings: there are lots of changes to refactor the dcd code from lpc family to support both series 🤗🤗

[2019-11-23 14:33] hathach commented on #119
@arturo182 thanks to great work with rt1010evk, I could easily get these evk up and blinky quickly enough. Since I have been adding quite a bit of RT10xx EVKs, surprisingly they are actually quite the same (initially thought there is probably lots of difference like samd21 & 51). To save your time and effort to merge with tons of changes from the master (due to the refactoring of dcd).  I just go

[2019-11-23 14:35] arturo182 commented on #119
Oh, I was doing that literally just now, bit of a wasted overlapping work :/

[2019-11-23 14:36] hathach commented on #119
Ooops sorry, that is a bit of unfortunate, I was initially waiting for your work. But then think it is similar enough to 1015 evk, and thought I could just try to  save you some time there. :)

[2019-11-23 14:37] arturo182 commented on #119
Guess I'll just trash my changes and test your PR. Have you tested all the examples with the other EVKs and they all worked? Cause with my previous branch I had a problem with getting MSC to work.

[2019-11-23 14:38] hathach commented on #119
@arturo182 yeah, I tested with all other EVK, it works rather well, I am sure it is probably something minor. I didn't do anything dramatically with dcd driver, except to generalize it so that it could work with both LPC & miMXRT series. They use the same USB IP after all

[2019-11-23 14:47] arturo182 commented on #119
Ok, I tested with the hid_composite and cdc_msc examples and both work :tada:

No problem, I'm happy my PR helped you with getting the code up faster, now I can add the tinyusb functionality to my IMXRT10xx port of CP (right now I use LPUART for REPL and have no MSC), I'm gonna push that as a PR to that repo soon too :)

[2019-11-23 14:56] hathach commented on #119
@arturo182 yeah, the rt mcu is flashless, I spend a several hours and still haven't known how to program it with compatible command line daplink. I gave up and just use the copy bin file as flash target :( . Your board.c and board.mk help a lots to get started with the evk. Thanks again. I think we can safely close this now :)

Let's me know or tag me if you need any help from me doing the CP port

[2019-11-23 15:34] hathach commented on #119
All changes are merged into master. RT10xx is fully supported. Thank you very much 🤗🤗

[2019-11-23 15:34] #119 closed

[2019-11-24 20:49] PTS93 opened #226 "Adding contributor information to readme or seperate contributors file"
Given that TinyUSB is getting a lot of traction and a lot more ports are coming in. Maybe its a good idea to name all the people who did work for specific ports?
The readme or a contributors file sound like a good idea. I think that would be rather valuable for the future if you want to contact specific people for certain ports.

[2019-11-25 02:59] ehughes commented on #135
I just received an ea4357 development kit and was able build and load the project.     On this MCU,  I did not see this issue and the demo seemed to work fine.

[2019-11-25 03:42] hathach commented on #226
@PTS93 Yeah, you are absolutely right. I should have done this earlier. I am sure the list will grow lengthy in the future, so I think it is best to put people with their work on separated files, and have thanks note & link to that from readme. Thank you very much for reminding :)

[2019-11-25 06:39] hathach commented on #226
@PTS93 just go through the overall development and add this in https://github.com/hathach/tinyusb/pull/227 . Let's me know if it looks OK :)

[2019-11-25 07:29] hathach commented on #135
@ehughes are you testing with windows 7 or 10. Windows 10 seems to have better usb driver support. It can be stm32f4 specific issue, everyone (including me) are all busy now to troubleshoot this.

[2019-11-25 13:05] PTS93 commented on #226
Looks great!
(Very kind of you to include me, I didn't expect that for just an example)

[2019-11-25 13:05] #226 closed

[2019-11-25 13:49] hathach commented on #226
@PTS93 I tried my best to include everyone involved :)

[2019-11-26 13:31] xobs opened #229 "TU_ASSERT when host stalls an MSC endpoint"
Still trying to track this one down.

The device is presenting a USB disk drive that never goes ready.  Linux is constantly sending `Test Unit Ready [0]` and `Request Sense [0]` requests, all of which get responded to correctly.

Eventually, Linux sends this request:

[code]

This gets responded to with a `STALL`, which the host responds with by halting the endpoint.

![image](https://user-images.

[2019-11-26 16:31] ehughes commented on #135
@hathach  This was under windows 10.      Everything seemed to enumerate fine.    I am going to experiment at but more with the API and will eventually test MAC and Linux

[2019-11-27 04:11] hathach commented on #229
@xobs it is a surely BUG. Previously, usbd only forward class specific or interface targeted request to class driveer. However, when adding support for USBTMC class, the class need to reset/re-init buffer when endpoint got stalled and clear stall, so It makes sense to also forward STD endpoint request to class driver as well, which falls into this TU_ASSERT()

https://github.com/hathach/tinyusb/bl

[2019-11-27 06:44] #229 closed

[2019-11-27 06:44] hathach commented on #229
@xobs #230 should fix this, please pull and try again :)

[2019-11-27 07:48] xobs commented on #229
I confirm this fixes the issue.  I can now emulate a failed disk and tinyusb doesn't panic.  Thanks for the fix!

[2019-11-27 07:58] hathach commented on #229
thanks for reporting, it is normally hard to get an stall from host. Let's me know if you need my help to troubleshoot why host stall the msc endpoints

[2019-11-27 08:00] xobs commented on #229
The stall happened because I hadn't yet implemented SPI flash in circuitpython, so it kept reporting the size as `0`.  The host thought the disk was going bad, so it tried to reset it after a few *minutes*.

It's fine now that I have storage implemented, but I wanted to make sure the issue wasn't caused by memory corruption.

[2019-11-27 08:03] hathach commented on #229
I am glad to hear that you are getting circuitpython ported to fomu :+1:

[2019-11-27 11:25] hathach commented on #135
Yes, windows 10 tends to have a better usb driver support than win7 overall

[2019-12-12 15:58] hierophect commented on #209
@hathach what is your test program that gives you those great test images?

[2019-12-20 15:43] PTS93 opened #239 "Add support for High Speed USB HID"
Given that we are getting now a few devices that support High Speed USB I think it would be great to add support for that in the HID class.

High Speed devices can have a polling rate of 125us as opposed to 1ms with Full Speed.
As well as a much higher maximum payload size of 1024 vs 64.

This mostly relates to generic HID in/out I guess but should also affect devices that require very low latency

[2019-12-20 17:17] hathach commented on #239
@PTS93 i think the current stack support highspeed transferring with HID generic as well. Descriptors, endpoint size, report size are all user's configuration already. I don't know what needs to be added now :thinking:

[2019-12-20 17:30] PTS93 commented on #239
Yea, I checked again and I misunderstood how the polling rate is set. Its defined as frames rather than a fixed time frame. So setting poll rate to 1 is 125us for a High Speed device and 1ms for a Full Speed device.
In that case we do not need any changes at all.

[2019-12-20 17:30] #239 closed

[2019-12-22 00:49] jeremyherbert commented on #179
I think I have tripped on this bug as well. I have the tinyusb device (STM32F042) connected to a powered hub, and the hub is connected to my laptop. With enough sleep/wakeup cycles on the laptop, it seems to be disconnected.

mac os seems to enumerate the device as a "Vendor specific device". I'm going to set up a second PC to try and reproduce.

![MacBook_Pro](https://user-images.githubuserconten

[2019-12-22 02:05] jeremyherbert commented on #179
I managed to connect the debugger, and blink_interval_ms is set to BLINK_MOUNTED. So this is probably related to #209

Some random notes:

Debugger says:
[code]

ISTR register only has the SOF bit set, all other status flags are 0. USB interrupt is no longer triggering. NVIC shows interrupt is still enabled however.

Beagle capture went from 70kB to ~600MB in about a minute while this was all happ

[2019-12-23 01:26] jeremyherbert opened #241 "TinyUSB with cdc_msc causes macbook pro to not wake from sleep"
While trying to investigate #179 further, I have discovered that a certain combination of devices causes my laptop to never wake from sleep. As soon as I unplug the tinyUSB device, the wakeup works fine.

**Set up:**
 - OS: Mac OS Catalina
 - Board: STM32F042F6 on a breadboard
 - Firmware Code: cdc_msc example

**To Reproduce**
I have a MBP (16"  late 2019) connected to a thunderbolt 3 dock (Caldi

[2019-12-23 05:02] tannewt commented on #241
I saw an issue where CircuitPython (which uses TinyUSB) would actually crash Catalina due to a timeout trying to set the SCSI power state. To fix it I had to make sure and respond to a start command with an error. This is done in a callback so I didn't actually need to change TinyUSB. The fix for CircuitPython is here: https://github.com/adafruit/circuitpython/pull/2406/files#diff-880d63a1c107dd29

[2019-12-23 06:04] jeremyherbert commented on #241
Thanks @tannewt I do see a SUSPEND timeout in my beagle log and then an immediate RESUME, but the SCSI Start/Stop appears to be fine. Is this what you were referring to? I don't have any TEST_UNIT_READY commands.

Looking closer at the capture, it seems there is a control transfer stall which appears to correspond to the assertion error, and it's during a write to endpoint 0. I'm assuming this is

[2019-12-23 20:39] hierophect opened #242 "`fatal: not a git repository:` errors in submodule update"
**Describe the bug**
When checked out on 7a05b177 attempting to issue git submodule update results in the following error:
[code]

The bug blocks all further requests for `git status` with
`fatal: not a git repository: hw/mcu/nxp/../../../../../.git/modules/lib/tinyusb/modules/hw/mcu/nxp`
Until the tinyusb submodule is deleted.

Linking @deshipu as he was having the same issue.

[2019-12-23 22:54] tannewt commented on #242
Try deleting the directory and then doing `git submodule update --init`. This problem should go away once all of our branches are updated.

[2019-12-24 03:05] hathach commented on #242
yeah, @hierophect I re-organize the hw/mcu/nxp submodules a bit to add support for iMX RT, I rename it from **lpc_driver** to `nxp_driver`. It probably confuse git & its cache. If simply remove the folder as Scott suggestion doesn't works, you may want to completely remove the previous submodule with following this guide https://gist.github.com/myusuf3/7f645819ded92bda6677

[2019-12-24 03:31] hathach commented on #179
too many bugs :(

[2019-12-24 03:36] jeremyherbert commented on #179
I'm working on it :) But my beagle is preventing my J-Link from working, so I need to dig out an ST-Link.

[2019-12-24 17:57] tannewt commented on #241
That looks like a different scenario than what I saw. Perhaps it is related to https://github.com/hathach/tinyusb/pull/244 instead?

[2019-12-25 17:03] hathach commented on #241
@jeremyherbert it could be the same issue as #213 `dcd_fsdev` driver somehow skip a setup packet. When in low power mode, it may prevent host to function properly.

[2019-12-26 23:28] kaysievers opened #247 "samd SETUP buffer size"
I need to add something like this:

[code]

 to make https://github.com/hathach/tinyusb/commit/49b316143ad4e1bd6130b3032b8418be7e0bc2c3 work properly on Linux, Windows appears to work fine without this change.

[code]

[2019-12-27 02:54] #247 closed

[2019-12-27 02:56] hathach commented on #247
fixed, thanks for the issue. hopefully this is the last PR for racing issue.

[2019-12-27 06:58] kaysievers commented on #247
Yeah, updated all the repos now and tested a SAMD51 device connected to Windows, Android, Linux (Desktop), iOS. It seems all fine. Thanks!

[2019-12-27 07:12] hathach opened #249 "API shouldn't submit endpoint transfer before enumeration is complete"
**Describe the bug**
Some class driver API is not safe when calling before the SET_CONFIG (enumeration) is complete. For reference https://github.com/adafruit/Adafruit_TinyUSB_ArduinoCore/issues/1#issuecomment-569202207

**Set up (please complete the following information):**
Any setup & examples

[2019-12-27 11:45] jeremyherbert commented on #241
This should be fixed now :)

[2019-12-28 23:39] majbthrd opened #255 "submodule adafruit/asf4 is broken for many SAMD21 parts"
tinyusb currently uses commit 82fe3aa05bc3b9f4956ee775c748a3885443f66b from adafruit/asf4 for SAMD files provided in ./hw/mcu/microchip/samd/asf4

The problem with this code is that the include files in ./samd21/include were only selectively hacked up to comment out a #define LITTLE_ENDIAN.  This modification was only done on parts used by Adafruit.  (The ./samd51/include was more consistently mod

[2019-12-30 03:58] #241 closed

[2019-12-30 16:20] hierophect commented on #242
I did have to go in and delete the cache as well. Thanks for the help.

[2020-01-04 23:44] arturo182 commented on #71
Finally pushed my initial implementation of the uf2 bootloader, tested and working on my MIMXRT1011 Feather, needs lots of work but the basic bring up is there: https://github.com/arturo182/tinyusb/tree/uf2

The FAT code is based on the samd uf2 bootloader code.
I tried to make the bootloader itself as platform-agnostic as possible, the flashing functionality is all in the bsp. This is so-so becau

[2020-01-04 23:51] arturo182 commented on #71
Ping @tannewt cause I know you've been wanting to check this out :sweat_smile:

[2020-01-05 10:37] hathach commented on #255
Sorry for late response, I were busy with other works lately. Thank you very much for the issue, Indeed, I also saw the **LITTLE_ENDIAN** redefinition warnings when compiling tinyusb with Arduino as well. However, this is due to asf4 & std C conflict, I think Adafruit try to suppress this but playing it safely. IMHO, The usage of circuitpython samd driver shouldn't prevent tinyusb to be used with

[2020-01-05 18:00] tannewt commented on #71
Woohoo! Thank you! 🎉 I think we could make a TinyUF2 repo for it with TinyUSB as a submodule. I'm working on logic analyzer code in the same way.

[2020-01-07 15:45] majbthrd commented on #255
I understand not wanting to fork and maintain the samd mcu driver.

[2020-01-07 15:45] #255 closed

[2020-01-07 16:45] hathach commented on #255
thanks @majbthrd , let's wait until it becomes a bigger problem later on :)

[2020-01-13 16:26] pigrew commented on #249
This seems complicated.

Do you have a proposed fix?

Here are some quick thoughts:

A panic by the core in these cases would be wrong since an interface may be asynchronously deconfigured or reset by the host (such that the application can't predict if the call will be able to succeed or not).

It seems to be that the core need to detect such a mistake, and return an error code which is properly

[2020-01-14 08:23] hathach commented on #249
@pigrew thank you for lots of great idea, although it is not really complicated one. We only need to check if the endpoint is opened (or probably not zeroes) as it is pointed out with
https://github.com/hathach/tinyusb/blob/master/src/class/vendor/vendor_device.c#L96
the call to usbd_edpt_busy() may return false with ep = 0 (since it is not opened/configured yet). I will do it later in more system

[2020-01-14 13:25] hathach opened #268 "Nuvonton NUC121,125,126 MSC doesn't work"
**Describe the bug**
MSC class doesn't work with NUC mcu

**Set up (please complete the following information):**
 - OS: Ubuntu 18.04
 - Board: nutiny nuc121s, 125s 126v
 - Firmware Code: examples/device/cdc_msc

**To Reproduce**
`TinyUSB MSC` disk show up but failed to read its contents

[2020-01-15 04:21] majbthrd commented on #268
I've submitted a PR to address an issue with the driver handling large OUT transfers.

However, things still go awry later on in the execution, and I'm not terribly familiar with the MSC class.

With the PR applied, in both a D21 reference and the NUC121, the USB analyzer shows the same behavior through a read LBA 0 followed by a read LBA 2.

In the D21, the next transaction is a write LBA 0.  (No

[2020-01-15 16:29] #268 closed

[2020-01-16 04:10] #187 closed

[2020-01-17 03:25] hathach commented on #71
Sorry, I am late to the party, yeah, full feature UF2 is too much for this repo, it should be best as a separated project. All TinyUSB's example is meant to be simple and proof of concept.

[2020-01-17 10:17] arturo182 commented on #71
Yeah, I started work on a separate repo for this :) https://github.com/arturo182/tinyuf2

[2020-01-17 11:07] hathach commented on #71
superb !!!

[2020-01-17 19:10] hierophect commented on #242
Unfortunately, I can't replicate the fix on my new machine. Even cloning from scratch, I'm getting this same error, and clearing the cache is not helping:

[code]

My current steps are:

- delete the tinyusb folder from lib/tinyusb
- run `git rm --cached lib/tinyusb`
- run `git submodule update --init --recursive` //will not work, since tinyusb is marked for deletion
- git reset --hard (attempt to

[2020-01-17 19:26] #242 closed

[2020-02-02 16:57] suyongyq opened #277 "The cdc_msc example did not run with CDC UART feature normally on board LPCXpresso55S69 & LPCXpresso54114"
Describe the bug

The cdc_msc example did not run with CDC UART feature normally. When I buidl & download the image, the MSC device can display in my PC. the CDC UART can be recognized as well. But the CDC UART in terminal software (tera term) did not echo anything like I tried with a STM32F103 board.

Set up (please complete the following information):

    OS: Windows 7 & Ubuntu 18.4 LTS
    Boa

[2020-02-05 19:43] hierophect opened #278 "Build instructions for examples no longer work"
**Describe the bug**
Running provided example build instructions:
[code]
no longer results in a successful build:
[code]
**Set up (please complete the following information):**
occurs with any board and any example.

[2020-02-06 17:05] majbthrd commented on #278
The TinyUSB Makefile depends on (a recent version of) "realpath" being installed.

In some distributions of Linux, opening a terminal and trying to run "realpath" may give recommendations as to which package to install.  Which package seems to vary between Linux distributions.

IMPORTANT: I ran into the same problem, but to make matters worse, my preferred Linux install was a distribution where th

[2020-02-06 17:28] hierophect commented on #278
Presumably this is only used for examples? I've had no issues using TinyUSB as a submodule of Circuitpython. Additionally, it compiled on my other dev machine (both macs).

[2020-02-06 17:38] majbthrd commented on #278
Sorry, I don't know the first thing about Circuitpython.  I can only speak to first-hand experience with compiling the examples using the Makefile as a fellow user.

If the Macs (or any other build platform) have already "realpath" installed, it stands to reason that you won't get a "realpath: Command not found" error message.

[2020-02-06 18:43] hierophect commented on #278
Oh, cripes. I just realized this is a problem with a computer migration I did - I actually had this same issue ages ago and forgot about it. I thought I was having deja vue about this... sorry for the trouble.

[2020-02-06 18:43] #278 closed

[2020-02-07 03:23] hathach commented on #278
Thank you @hierophect  for raising the issue, and @majbthrd for answering it, I will find a place to put a notice about this  in the docs

[2020-02-07 11:04] rajivr opened #279 "Notes from porting TinyUSB"
Hi @hathach

Belated Lunar New Year Greetings and thanks again for TinyUSB. :-)

I managed to get a basic port of TinyUSB working. In our case the DCD layer is in Rust. There are some issues that came up during the port that I wanted to share with you.

I don't know a good way to create a PR for these changes, so I am providing links to the patches that we currently are maintaining in the tree.

1

[2020-02-08 03:02] cr1901 commented on #279
I'm not going to profile the static code (mainly because I don't know how :P), but I would rather see a Rust-api specific define (call it `TU_RUST_API`) that [changes](https://github.com/hathach/tinyusb/blob/7b20b80dc0694cfe49b63222f47a8c3d18906e41/src/common/tusb_compiler.h#L67) the definition of `TU_ATTR_WEAK` to nothing, e.g:

[code]

And gates whether currently `static` functions remain `stati

[2020-02-09 06:39] hathach commented on #279
@rajivr Thank you for your New Year Greetings, I am glad you find TinyUSB useful.

These are helper function, you can simply skip it and define your rust_edpt_* and copy its implementation, those won't be changed anytime soon.

as @cr1901 point out, you can use `tusb_compiler.h` to overwrite the definition.

I thought you used Tock RTOS for rust embedded ? most RTOS will automatically to put the c

[2020-02-10 01:04] okyeron opened #281 "Set custom device serial number"
I have been porting some code from Teensy to M0/M4 and for the application I need to set a custom serial number for the device (the serial must be formatted a specific way).

So far, `setManufacturerDescriptor` and `setProductDescriptor` are available with TinyUSB, but not serial number.

I have hacked to together changes to add ` USBDevice.setSerialDescriptor(serialstr);` mimicking `setProductDes

[2020-02-10 05:05] rajivr commented on #279
TockOS, like a lot of other operating systems divides interrupt processing in two halves. The top-half runs in interrupt context, which is mapped to ARMv7-M's handler mode. The bottom-half processing happens in kernel context, which is mapped to ARMv7-M's privileged thread mode.

The main USB interrupt processing happens in the bottom half, and within the bottom half we add to TinyUSB task queue.

[2020-02-11 02:24] hathach commented on #281
wrong repo, please post your Arduino related port to its own repo here https://github.com/adafruit/Adafruit_TinyUSB_ArduinoCore

[2020-02-11 02:34] hathach commented on #279
Tock should implement its own osal_tock port, instead of using osal_none. Like freeRTOS, I would expect the native queue API from RTOS will put the caller into suspended mode if the queue is empty https://github.com/hathach/tinyusb/blob/master/src/osal/osal_freertos.h#L123

[2020-02-19 12:11] PTS93 opened #283 "Callback for USBDevice.mounted() or similar"
I was wondering if there is a callback for USBDevice.mounted() or something equivalent that informs me when the device was connected to or disconnected from the host.
I'm writing a library that depends on checking this periodically, would be nice if I can do this without modifying the core. I want to avoid the user having to manually call an update function of the library.

I sifted through the co

[2020-02-20 22:29] lukehsiao opened #284 "[Question] configuring samd for low-speed USB?"
**Here is my question**

Some devices like the SAMD51 support both full-speed USB and low-speed USB. Currently, tinyusb hard-codes full-speed:

https://github.com/hathach/tinyusb/blob/cb3de676635948f46a8dda93330ccc7fbbcb3e5d/src/portable/microchip/samd/dcd_samd.c#L89

Simply changing this value to low-speed (`USB_DEVICE_CTRLB_SPDCONF_LS`) is insufficient since tinyusb still tries to send 64-byte p

[2020-02-21 03:14] okyeron commented on #281
Thanks for that update. Apologies for posting in the wrong place.

[2020-02-21 15:51] pigrew commented on #284
AFAIK, nobody has tried low speed USB.

You will need to define CFG_TUD_ENDPOINT0_SIZE as 8 to get the proper packet length. This can be set in tusb_config.h.

[2020-02-21 18:35] lukehsiao commented on #284
It looks like changing just those two parameters is insufficient. Specifically, it doesn't appear that changing the CFG_TUD_ENDPOINT0_SIZE is actually effecting the dcd_samd.c code. When I use wireshark to capture the USB packets I still see that the device is transmitting bMaxPacketSize0 = 64.

In contrast, for the samg, there is a line like:
https://github.com/hathach/tinyusb/blob/cb3de676635948

[2020-02-22 01:37] lukehsiao commented on #284
@tannewt Would you happen to have any insights on configuring the SAMD51 for low-speed USB?

[2020-02-22 03:24] pigrew commented on #284
Yes, this looks like an omission in the driver that size is always set to 64 bytes. I'm unfamiliar with SAMD mcus (and don't have one to test it). The constant I mentioned is also used to set the device descriptors in the USBD core.

In addition to it, perhaps try setting the two SIZE registers to equal 0x0, which represents 8 bytes?
[code]
The driver should be updated to set the SIZE values based

[2020-02-22 06:56] hathach commented on #284
Thanks @pigrew for answering, @lukehsiao low speed isn't used by anyone yet, beside changing the control ep size and update descriptor, you will need to update the dcd_samd.c as you figured out as well. Since Scott is not interested in samd low speed mode (99% won't ), you will need to get your hand dirty on this matter.

PS: Why would you want to run samd on LS mode, I guess it is power related ?

[2020-02-22 06:59] hathach commented on #281
no problem at all, I initially want to redirect discussion over there. Though I am mostly the maintainer anyway. Currently I am overwhelmed, and haven't got time to look at Arduino port yet. Please be patient.

[2020-02-22 08:08] lukehsiao commented on #284
Thank you all for the helpful pointers. I'll dig into dcd_samd.c.

We are interested in running in low speed mode for latency reasons, we are planning to run this MCU with a very long USB extender (over 100ft and a couple USB hubs). We hypothesize that low speed mode should tolerate this additional latency (based on testing with a low speed USB mouse) while we know from testing that full speed doe

[2020-02-22 17:44] tannewt commented on #284
@lukehsiao as @hathach said, I haven't looked into low speed at all. I'm much more interested in faster USB than slower USB.

[2020-02-23 00:21] pigrew commented on #284
Yes, low speed will allow longer runs. There is quite a bit of detail on the allowed delays in the USB 1.1 specification document.

That said, I'd suggest either using "active" USB cables or RJ45 UTP Cat5 USB extenders (like Monoprice 106042. I've never used that model, but it may suit your needs).

[2020-02-23 00:45] lukehsiao commented on #284
Thanks for the tip. We are using custom RJ45 Cat7 USB extenders. We just need to implement and verify functionality with low-speed USB for the SAMD51 at this point.

[2020-02-23 00:59] ladyada commented on #284
we've used
https://www.adafruit.com/product/2676
with great success - with 100' cables - its cheaper than the effort to add LS

[2020-02-25 02:02] chang196700 opened #285 "Pass p_request->wIndex in the tud_descriptor_string_cb to identify different langid"
Just like:
In usb.c
`uint8_t const* desc_str = (uint8_t const*) tud_descriptor_string_cb(desc_index, p_request->wIndex);`
In usb.h
`uint16_t const* tud_descriptor_string_cb(uint8_t index, uint16_t langid);`

[2020-02-25 22:24] hudson-ayers commented on #284
Unfortunately our use case requires closer to 200' cable, and connecting close to 100 devices over cables of this length, so using active hardware for each one gets expensive. We will let you know if we get low speed to work. If you think of any additional tips that could be helpful in this regard, please let us know.

[2020-02-25 22:28] ladyada commented on #284
do you have evidence that low speed USB runs that long?

[2020-02-25 22:31] hudson-ayers commented on #284
We tested several low speed devices over a 200' cable successfully

[2020-02-25 22:33] ladyada commented on #284
kk - have you tried full speed with active extender at 200'?

[2020-02-25 22:38] hudson-ayers commented on #284
No, but I think that purchasing 100 active extenders probably exceeds our budget for this project. We do plan to test the adafruit link you shared and see what maximum distance we can achieve with it. The link claims to have accomplished 200 feet with a full speed Arduino, though we were unable to achieve that distance with our own prototype of that device.

[2020-02-25 23:16] hudson-ayers commented on #284
Ah, after some more research I think we are out of luck after all. We are using the tinyusb stack in CircuitPython (with the feather m4 express). CircuitPython boards show up as mass storage devices when connected to a laptop, and the programming interface involves moving a firmware image or python file onto that mass storage device. Reading here: https://usb.org/sites/default/files/usb_msc_cbi_1.

[2020-02-25 23:18] ladyada commented on #284
that is correct, both CDC and MSD are Full Speed. only HID can be done over LS

[2020-02-25 23:22] lukehsiao commented on #284
Thank you all for your prompt and helpful responses! We will need to reevaluate our system with the full-speed requirement in mind.

[2020-02-26 00:24] dhalbert commented on #284
It is possible to build CircuitPython so that it only exposes HID. But if your application is using CDC or MSC, then that is of little help.

[2020-02-26 00:50] hudson-ayers commented on #284
@dhalbert can you provide any pointers to documentation on how to build CircuitPython so that it only exposes HID? Is it still possible to flash firmware/apps over USB in this configuration? We would like the USB connection to enable us to reflash firmware or applications, though the actual applications we are using do not require CDC or MSC themselves.

[2020-02-26 01:08] dhalbert commented on #284
You can't do flashing over HID. You'd need to move the board to a full-speed port, double-click reset, and use the UF2 bootloader to load a regular CircuitPython on it, and then update the filesystem, etc. So that may not meet your needs (but perhaps it will)

The way to select which USB devices to include is to add a line like this to `mpconfigboard.mk`.
[code]
e.g.,
[code]
The default list of de

[2020-02-26 03:52] hathach commented on #284
It is an interesting usage of LS.
- For firmware upgrade you can use the USB DFU class along with `dfu-util` which only use control endpoint, and suitable with LS. You will lose the handy uf2 drag and drop though and It requires to customize the bootloader to have speed detection e.g FS -> uf2, LS -> DFU.
- For application mode: you could use the HID In & Out EP for communication instead of CDC.

[2020-02-26 04:01] hathach commented on #285
Yeah, indeed, would you mind submitting an PR for this :). I will be glad to merge. If you don't have time, no worry I will do it later on.

[2020-02-26 04:05] hathach commented on #283
@PTS93 there is an callback for  tud_mount_cb/tud_umount_cb in the stack.
https://github.com/hathach/tinyusb/blob/master/src/device/usbd.h#L97
Are you looking for an Arduino callback function ?

[2020-02-26 12:36] PTS93 commented on #283
Yes ultimately I will need it in Arduino. Where would you suggest that I add that setMountedCallback() wrapper for tud_mount_cb/tud_umount_cb? The arduino library itself does not seem to implement any global USB functions but only the specific USB classes. Are those things being done in the Arduino core side?

[2020-02-26 14:05] PTS93 commented on #283
Ah I think I finally understood the setup. So there are 2 Arduino libs essentially. One setting up the general USB and the other is for implementing specific devices like HID or MSD?
So I assume here would be a good place for this callback wrapper?
https://github.com/adafruit/Adafruit_TinyUSB_ArduinoCore/blob/09968245ad675377f2265717f0e138d5dccb39a3/Adafruit_USBD_Device.h

[2020-02-26 14:18] hathach commented on #283
@PTS93 the core lib implement device + CDC, since cdc is required for Arduino core to perform DFU touch1200 and Serial. The MSC + HID and other higher layers are implemented as wrapper for higher class, which is subject to be changed more frequent. It is kind of complicated, but I don't any better way.

an setMountedCallback() with an function pointer should be fine, you should also add the setUmo

[2020-03-03 14:37] hathach commented on #285
closed by #286 thank you for the issue and the pr

[2020-03-03 14:37] #285 closed

[2020-03-03 14:43] hathach opened #288 "Add SW2 RTC Wake-up button to NUC505 board"
support the SW2 if possbile to nutiny-sdk-nuc505

[2020-03-03 14:47] chang196700 commented on #285
Thanks, XD

[2020-03-03 16:44] hathach opened #289 "check RNDIS with all ports"
**Describe the bug**
RNDIS example PR #287  may not work with all ports, following is port that work
- [x] SAMD
- [x] NUC126

Ports that tested and not work
- [ ] STM32F4 STM32F0
- [ ] nRF52840

**Set up (please complete the following information):**
 - OS: Ubuntu 18.04
 - Board: stm32f411disco, stm32f072, feather_nrf52840_express
 - Firmware Code: examples/device/lwip_webserver

**To Reproduce**

[2020-03-04 16:41] majbthrd commented on #289
No, not exactly 128 bytes.  The intent was to transfer request->wLength, but no more than 128.  tu_control_xfer() calls tu_min() to cap all transfers to request->wLength.

[2020-03-04 17:33] pigrew commented on #289
@majbthrd : Based hathach's log, the SETUP packet has a wLength is 1025, so it wouldn't be truncated. My guess is that the host always sets wLength to 1025, so it'll always send 128 bytes (`tu_min(1025,128)`).

Regardless, we should figure out why the ZLP is not being sent.

[2020-03-05 00:03] majbthrd commented on #289
I've submitted a PR that should address the STM32 RNDIS issue, and I've regression tested it with SAMD21 and NUC126.  It may be worth re-trying on the other targets mentioned above.

[2020-03-05 05:36] hathach commented on #289
@pigrew @majbthrd great analysis, I think the host expect the usbd to return ZLP packet to indicate the end of transfer. I think this is a great chance for us to fix this ZLP behavior of usbd. It is not easy to get an reproducible issue for us to work on. This will prevent similar issue down the road.  @pigrew already did  ZLP response previously for MSP430 port, maybe it is merged there, I will t

[2020-03-07 14:48] gojimmypi opened #293 "Adafruit Feather M0 Express - A request for the USB device descriptor failed."
**Describe the bug**

[Adafruit Feather M0 Express](https://www.adafruit.com/product/3403) fails to enumerate and initialize as a valid USB device when a (potentially*) misbehaving other USB device is also plugged in concurrently to the same external hub. This issue opened in this repo after a long and winding tweet thread ended with @tannewt [suggesting I open an issue here](https://twitter.com/t

[2020-03-08 06:38] hathach commented on #293
@gojimmypi thank you for filing the detailed issue. This is indeed right place since both FOMU and M0 running TinyUSB stack. I happens to have an FOMU as well, though I need your help to with the firmware:
1. What is your FOMU bitstream, the latest bitstream with eptri did fix some usb hw issue
2. your FOMU firmware, any hex/elf file is appreciated
3. An uf2 for M0 that you are having issue with

[2020-03-08 08:47] hathach commented on #289
This commin https://github.com/hathach/tinyusb/commit/c8247f0907040eb86c301e8bff8bb322fc9cb566 fix ZLP issue for nrf52840. For STM32F072, it is little bit difference, the device did response with ZLP correctly, however STALL all request afterwards.

![image](https://user-images.githubusercontent.com/249515/76159525-1d99fe80-6154-11ea-84ea-d79e4b17cb56.png)

[2020-03-08 21:03] gojimmypi commented on #293
@hathach thanks for looking into this.

First - the problem does not seem to be specific to a hub. In addition to the budget USB2 hub, I am seeing the same results with an external USB3 hub. But it is only with hubs: I can plug each device into separate ports on my computer and the problem does not occur.

I'm not sure on the fomu bitstream. Is there a way I can determine this? If you are referrin

[2020-03-09 16:19] hathach commented on #293
Yes, it very helpful, I will try to reproduce the issue as soon as I could. Though to be honest, I am also newbie with FPGA and FOMU as well. I will need to spend sometime to get started with it first. Hopefully it is easy to reproduce :) . I will ping you for more update :+1:

[2020-03-09 16:28] smunaut commented on #293
As I mentioned on twitter, that fomu bitstream version has a known bug where it doesn't check the address field of USB packets and just responds to all of them. That bug is fixed in newer version of the bitstream.

That is known to cause issues for other devices on the same hub and AFAIK there is nothing the other devices can do about it if some other device answers requests that are not meant for

[2020-03-09 20:32] gojimmypi commented on #293
Yes, I completely agree that this could be fixed with a fomu that is not misbehaving. Using a different USB port also works for me as a workaround.

However I thought it was curious that only the Feather M0 had problems. Other devices including my mouse in operation and the Saleae logic analyzer capturing packets, could both be on the same hub with the fomu and work properly. What's different abou

[2020-03-09 20:44] smunaut commented on #293
The Saleae is USB High Speed. Completely different thing.

Not sure about the mouse but maybe it's Low Speed, or maybe it's also High Speed, you'd have to check. (and so would also be in another "domain").

[2020-03-09 21:29] PaulStoffregen commented on #293
Another possible (blind guess) explanation could involve a race condition involving the time each device takes to begin its response, especially if the hub has a single transaction translator.  Low and full speed devices don't communicate directly with the host.  They talk to the TT, which slowly transmits the split-start packet it received from the host at 480 Mbit/sec, then waits for a device to

[2020-03-09 21:38] PaulStoffregen commented on #293
If you have a moment, I'd be curious to know whether that hub is a Single TT or Multi TT type.  If you have even more time, would be interesting to know if using the other type of hub makes any difference?

To check your hub, in Linux use "lsusb -v" and look for these bDeviceProtocol lines.  Hubs with only 1 transaction translator shared by all downstream ports have bDeviceProtocol = 1.

      bDe

[2020-03-10 00:38] gojimmypi commented on #293
`lsusb -v` is completely empty in WSL on Windows 10 and the hubs do not appear to be attachable devices in my Ubuntu VM,

This issue occurs for both of my hubs (USB2 and USB3) although I've been unable to determine TT Device Protocol you ask about.

For the USB3 hub:

In Windows, it appears that I get _two_ devices: a Generic SuperSpeed USB hub and a Generic USB Hub.

Before:
![image](https://user

[2020-03-10 06:08] hathach opened #296 "nutiny-nuc120v board doesn't work as expected"
**Describe the bug**
follow up to #276 and comment https://github.com/hathach/tinyusb/pull/276#issuecomment-596919761 . This board stalls the SET_CONFIGURE request

**Set up (please complete the following information):**
 - OS:  Ubuntu 18.04
 - Board: nutiny-nuc120v
 - Firmware Code: examples/device/cdc_msc

**To Reproduce**

**Screenshots**
![image](https://user-images.githubusercontent.com/24951

[2020-03-10 06:18] #81 closed

[2020-03-10 23:24] PaulStoffregen commented on #293
Did you update your Fomu with the latest bitstream?  If that fully resolves this problem, probably best to close this issue.

While I'm always curious to learn more of the hidden details of how hubs and other USB hardware really work internally, I really do not believe there's much more to be gained here looking through the lens of Windows enumeration results and Windows Device Manager.

[2020-03-11 08:00] hathach commented on #144
@pigrew hihi, it has been a long time, but I mange to get the coverity build tool and able to emit the file ready for analysis. I am trying to get it automation with github ci.  Though I am not sure how should we submit it. Do you still remember how did you submit the `cov-int` last time.
1. Should we submit an tar `cov-int` for each build configuration e.g cdc_msc on stm32f072nucleo. That will be

[2020-03-15 00:02] majbthrd opened #299 "dcd_synopsys (STM32F4) doesn't work when USB descriptor exceeds 64 bytes"
**Describe the bug**

In device examples where CONFIG_TOTAL_LEN in usb_descriptors.c exceeds 64 bytes, the host is unable to retrieve the USB descriptor.

**Set up (please complete the following information):**

 - OS: Ubuntu 18.04
 - Board: stm32f407disco
 - Firmware Code: examples/device/cdc_dual_port, examples/device/net_lwip_webserver

**To Reproduce**

compile code, download to target, and pl

[2020-03-15 02:37] cr1901 commented on #299
This sounds like a regression; HID descriptors worked fine in the past and they exceeded 64 bytes.

[2020-03-15 04:28] pigrew opened #300 "ZLP skipped for zero-length replies to CTRL IN with non-zero wLength"
While hunting down issues for the STM32FSDEV, I realized that zero-length replies to CTRL IN with non-zero wLength seem to be broken. On the other hand, I don't know if this is actually ever used....

tud_control_xfer uses the following logic:

https://github.com/hathach/tinyusb/blob/a0eb8a26517040850a0e4185aef398183b04ddc7/src/device/usbd_control.c#L111-L124

This assumes that all zero-length dat

[2020-03-15 15:45] gojimmypi commented on #293
Sorry for the delay in responding. Between the day job, and helping to [launch the ULX3S](https://www.crowdsupply.com/radiona/ulx3s)... well, time just flies by!

@PaulStoffregen I too, am always curious to learn more! I have 2 USB breakout devices and a Saleae logic analyzer if you or anyone else is interested in digging further.

Otherwise... Yes: updating my Fomu with [hacker-updater-v2.0.3.dfu

[2020-03-15 16:04] gojimmypi commented on #293
update: although not specific to the Feather M0 and there's no observable problem... there's certainly this curiosity for just the fomu:

![image](https://user-images.githubusercontent.com/13059545/76705215-9856a280-669b-11ea-8a2a-d8bdd3777f2b.png)

Note that despite `dfu-util` reporting version 2.0.3 of the bootloader, Windows device manager claims it is still 1.8.7.

This condition persists afte

[2020-03-16 03:29] hathach commented on #299
yeah this is usual, the cdc msc example descriptor will certainly exceed the 64 bytes in length. This  probably related to other issue.

[2020-03-16 03:37] hathach commented on #300
the ZLP is handled internally  here, you are the PR's author for it :D
 https://github.com/hathach/tinyusb/blob/a0eb8a26517040850a0e4185aef398183b04ddc7/src/device/usbd_control.c#L178

`tud_control_xfer()` is the public API, it is called once by class driver or application to response to the request. The function will break it into smaller 64-byte packet size and **ZLP** if needed as well. On othe

[2020-03-16 03:49] hathach commented on #300
ah I see you want class driver to have the option to response with ZLP as `no data available` for a request from host. Currently, I didn't encounter such as request yet. But it is indeed a valid usage for some classes. If this is an issue, we can change the behavior of `tud_control_xfer()` which will always response to DATA phase, if len = 0 then ZLP (if wLength > 0).  Since there is existing `tud

[2020-03-16 03:56] pigrew commented on #300
@hathach

I'm don't have a use case at the moment, but I found this corner case through the other debugging I was doing related to the stm32 driver. I don't know of a class that uses this sort of reply (or even if it is legal USB).

I'm happy to just close this issue (perhaps adding a documentation comment somewhere), but it does make sense to make the change you suggested (just removing the check

[2020-03-16 04:31] hathach commented on #300
Yeah, I agreed, let's keep this issue open, I will add an PR and double check the repo. I think I did response status with `tud_control_transfer` in some cases.

We all run into this problem. An symptom of overworking :face_with_head_bandage:

[2020-03-20 18:59] PanRe commented on #209
I added this feature for an STM32F411 by changing these two functions:

[code]

and

[code]

I am just starting with USB, so i have no clue if all of this is perfectly right. However, it worked for me!

[2020-03-21 04:48] jeremyherbert opened #303 "Compiling cdc_msc example for SAMD21G18 works fine using -O0 but hangs using -O1"
I'm trying to port tinyusb to the seeeduino xiao which uses the SAMD21G18A. Since this is the same chip as the feather_m0_express I used it as a template to begin. I've made the following changes:

- Rename `feather_m0_express.c` to `seeeduino_xiao.c`
- Edit `seeeduino_xiao.c`, changing the button and LED pin, as well as deleting the code which configures the clock output
- Edit `samd21g18a_flash.

[2020-03-21 05:07] jeremyherbert commented on #303
Ok, it's a hardfault. But it seems like it is to do with the JLink programming itself; if I power cycle the microcontroller after programming it works fine...

[2020-03-21 06:59] hathach commented on #303
you should check your vector ISR table, probably put atttribute((used)) in the proper place of isr vector to prevent it is optimized out.

[2020-03-21 07:31] cr1901 commented on #303
I can't tell whether this applies, but last time I had a problem like this, it was because I forgot to manually mark some I/O addresses as volatile: https://github.com/hathach/tinyusb/issues/97#issuecomment-527744295

[2020-03-23 07:01] jeremyherbert commented on #303
This is a bug in the J-Link tools, not in tinyusb.

[2020-03-23 14:18] jeremyherbert commented on #303
Turns out this is not a bug in the segger tools, but rather a dud linker script provided by Atmel/Microchip. The script does not set the entry point of the code correctly, so it defaults to zero in the elf header. It is should be set to the address of `Reset_Handler`. I added the missing line in my pull request (https://github.com/hathach/tinyusb/pull/306) for this board: https://github.com/hathac

[2020-03-23 16:58] hathach commented on #303
Thanks for the findout, I will check and fix the feather m0 and/or other m0 boards as well.

[2020-03-24 04:57] #184 closed

[2020-03-25 03:23] hathach commented on #289
#304 and #305 fixed the issue for STM32 FSDev, will need to do more tests with other mcu :)

[2020-03-25 16:47] pigrew commented on #289
STM32F407 still does not work (with the latest master).

After transferring the USB string 4, the following transaction happens:

[code]

The transaction maintains NAK until Windows gives up.

[2020-03-25 17:27] hathach commented on #289
@pigrew yeah, there is a different issue with stm32f4, I will check it out later when doing more tests with the rest of mcus as well.

[2020-03-25 20:09] pigrew commented on #204
@cr1901, @hathach :
While trying add HAL UART calls to the f407vg discovery board (which I'm not sure we should include in the BSP by default), I discovered that the data rate was wrong, I believe due to a CMSIS call, which is overriding a system clock speed global variable:
https://github.com/hathach/tinyusb/blob/435485b524f7d5299f489b34555a0c9d5f616159/hw/bsp/stm32f407disco/stm32f407disco.c#L113

[2020-03-26 03:45] hathach commented on #204
thanks @pigrew for the discovering this, it is indeed annoying. ST should make the clokcupdate take the HSE instead of assuming the value in 2 places which seems to be asking for troubles. Unfortunately we will need `SystemCoreClockUpdate()` to get the correct value of SystemCoreClock for systick. I guess ST intend to have people to put that in the makefile, so let's do the `1a` option.

for 2) :

[2020-03-26 03:57] pigrew commented on #204
@hathach
I just created a branch for this (well, only for the F407disco). we can apply to the other BSP based on your feedback.

Both  `SystemClock_Config()` and `SystemCoreClockUpdate()` update the same global variable `SystemCoreClock` (and that's all they do). There is no need for both. Let's remove the CMSIS one?

Please preview changes at:

 https://github.com/pigrew/tinyusb/commit/2e63d8aee6

[2020-03-26 04:10] hathach commented on #204
Oh, I didn't know that, Let's remove CMSIS one, one less thing to worry about :D

for stm32f407 disco1 (newer version), the newt stlink has builtin cdc <-> uart, we should use those pins which is very convenient. The older version doesn't have that, user can wire hook with FTDI for the output ( I often do that )

[2020-03-26 04:13] pigrew commented on #204
Agreed.

And I should be saying HAL_RCC_ClockConfig() (not SystemClock_Config).

I'll finish up the patch, maybe tomorrow. It's getting late here.

It looks like `SysTick_Config(SystemCoreClock / 1000);` might need to be moved a few lines later in a few of the BSP, since it's using SystemCoreClock BEFORE it's setup.

[2020-03-26 04:17] hathach commented on #204
thanks for the change, let's just enable the UART.

[2020-03-26 04:19] hathach commented on #204
No problem at all, move it anywhere that makes sense to you. No hurry at all. Please take the rest :)

[2020-03-26 15:00] #204 closed

[2020-03-27 06:19] hathach commented on #209
@PanRe thanks for sharing, I definitely take a look at this next time working with stm32f4 :)

[2020-03-28 07:25] #300 closed

[2020-03-28 07:56] hathach commented on #303
I checked, but with and without

[code]

The address of Reset_Handler doesn't change at all. Adding this is right thing to do, though I am curious which version gcc you are using, and your OS as well.

[2020-03-28 08:18] jeremyherbert commented on #303
[code]
[code]

using `arm-none-eabi-readelf -e seeeduino_xiao-firmware.elf`, if I have the line commented out it sets the entry point to the start of the vector table (0x2000 as it is leaving the first 8kB for the bootloader), not the address of `Reset_Handler`:
[code]

And with the entry point line it correctly points to the `Reset_Handler` function:
[code]

[2020-03-28 15:22] hathach commented on #303
@jeremyherbert ah yeash, you are right, I wasn't doing the correct checking readelf is more precise.

Reset_Handler is at 00002fb9

[code]

readelf without `ENTRY(Reset_Handler)`, entry point is 0x2000 which is not Correct
[code]

readelf **WITH** addition of  `ENTRY(Reset_Handler)`,  entry point is spot on with ResetHandler from nm

[code]

[2020-03-28 16:33] pigrew opened #313 "Remove details on class implementation from USBD core"
Whereas I would like to create a new class `usbtest` to use for automated validation of the USBD core + DCD, and currently the USBD core contains the initialization structures of the classes (in `usbd.c`), and that list is getting quite long,

I propose to move to remove class-specific details from the USBD core (as much as possible).

The way most stacks do this is to have the application dynamic

[2020-03-28 16:52] hathach commented on #313
That is a good idea, however I don't really like the dynamic solution for something that doesn't change at all ( set of class drivers). In general, I don't want to use any dynamic solution with the stack. I will rather go to the worst-case scenario to make sure it works every time and prevent run-time error.

Also I don't like to give application any complicated structure to declare or any chance

[2020-03-28 16:55] pigrew commented on #313
Ok, I see. Will just press ahead with a `usbtest` module, using the current structure.

[2020-03-28 16:55] #313 closed

[2020-03-28 16:59] hathach commented on #313
Yeah, that would be perfect :)

[2020-03-28 17:03] hathach opened #314 "use STM32 cmsis and hal driver for st_driver submodule"
follow up to #309 discussion

STM recently releasing their driver on github, we should use this for st_driver to simplify the process of updating STM32 driver

https://github.com/STMicroelectronics/stm32f3xx_hal_driver
https://github.com/STMicroelectronics/cmsis_device_f3

[2020-03-28 17:40] #303 closed

[2020-03-29 03:42] hathach commented on #303
thank you for reporting the issue, I have updated the linker for all samd board to include `ENTRY` . It seems no harm to use on Adafruit board since bootloader takes care of entry point. Without bootloader, it could run into hardfault since gcc doesn't emit the correct code to the entry.

[2020-03-29 05:30] hathach commented on #121
implemented by #194

[2020-03-29 05:30] #121 closed

[2020-03-30 09:32] hathach opened #316 "Add ESP32-S2 port"
**Description**
ESP32-S2 is already supported in ESP-IDF https://github.com/espressif/esp-idf/tree/master/components/tinyusb/port/esp32s2 . Although the IDF is specific to ESP32-S2, it is best to integrate it to current bare-metal build of our repo for consistency across ports and helps
1. Testing with new features, changes and class driver easier
2. Other projects such as CircuitPython that inclu

[2020-03-30 17:33] cr1901 commented on #316
@hathach Ahhh yes, @ladyada mentioned this part to me a while back. I think their DCDs (not necessarily interrupts, however) should be the same, though it may make sense for the time being to copy the STM32F4 `dcd_synposys.c` to an `ESP32` directory to see how much code can actually be shared after the port is working.

[2020-03-31 02:54] hathach commented on #316
@cr1901 yeah, that makes sense, we will keep them separated for now. And decide later if needed. Also the USB specs of EPS32S2 isn't available yet, it is better to keep it as it is :)

[2020-03-31 18:23] igrr commented on #316
At the moment ESP32-S2 port (as included in IDF) uses FIFOs, while the STM port seems to use DMA. IIRC there are some alignment requirements for the USB DMA buffers, and ESP-IDF heap allocator didn't support custom alignment values when we started porting TinyUSB. Alignment support [is implemented now](https://github.com/espressif/esp-idf/commit/d26ddaa644997a8b65dfa52b716e5d9502f69c9e#diff-b43890

[2020-03-31 19:34] cr1901 commented on #316
@igrr FWIW, the Synopsys driver in tinyusb doesn't use DMA; it's purely interrupt-driven.

[2020-03-31 19:41] igrr commented on #316
You are right, of course; sorry, I must have been looking at some other code for the ST.

[2020-04-01 03:15] hathach commented on #316
@cr1901 @igrr yeah, I will just use the dcd as it is for now. We can always improve later :)

[2020-04-03 07:55] cr1901 commented on #279
@rajivr Has there been any forward progress with your TockOS port? I'm looking forward to seeing what you've come up with! :)

[2020-04-03 23:15] tannewt opened #322 "Callback from ISR?"
Could we add a callback from the `dcd_isr` or indirectly when an event is queued to the buffer? Calling into TinyUSB and other polling tasks repeatedly adds up to a significant overhead. By having TinyUSB call back when queueing a task, we'll know exactly when it needs to be called and do so once we're back on the main thread of execution.